@use "../../global" as *;
@use "../../partials" as *;

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  border: none;
  @include transparent-button;
  opacity: 1;
  margin: 0;
  padding: 0;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.up-btn {
  opacity: 1;
  padding: size(12);
  // @include border(solid, 1, $primaryText);
}

.createjob-btn {
  @include setBgColor($primary, $white);
  padding: size(6) size(8);
  @include radius(24);
  @include font($primaryFont, 12, normal, normal, 12);
  @include transitionsbackground;
  @include flex-center;
  gap: size(4);

  @include breakpoint(mobile576) {
    @include font($primaryFont, 14, normal, normal, 14);
    padding: size(8) size(12);
    gap: size(6);
  }

  @include hover {
    @include setBgColor(darken($primary, 20%), $white);
  }
}

.pipeline-empty {
  @include setBgColor($headerborder, $headingText);
  display: inline-block;
  width: size(100);
  height: size(36);
  @include radius(8);
  margin-inline: size(4);
  margin-block: size(4);
  @include flex-center;
  @include font($primaryFont, 12, medium, normal, 14);

  &.one {
    background: #eee3e7;
  }

  &.two {
    background: #ead5dc;
  }

  &.three {
    background: #eec9d2;
  }

  &.four {
    background: #f4b6c2;
  }

  &.five {
    background: #f6abb6;
  }
}

.btn-addtask {
  @include border(solid, 1, $btndarkborder);
  width: size(90);
  height: size(30);
  @include flex-center;
  gap: size(4);
  @include radius(4);
  color: $textPrimary;
  @include font($primaryFont, 12, medium, normal, 12);
  @include transitionsbackground;
  @include hover {
    background: lighten($btndarkborder, 5%);
  }
}

.btn-next {
  width: size(90);
  height: size(30);
  @include radius(4);
  @include setBgColor($primary, $white);
  @include font($primaryFont, 12, medium, normal, 12);
  @include transitionsbackground;
  text-align: center;
  display: inline-block;
  @include flex-center;
  @include hover {
    background: darken($primary, 5%);
    color: $white;
  }
}

.saveclose {
  width: size(90);
  height: size(30);
  @include radius(4);
  color: $textPrimary;
  @include font($primaryFont, 12, semibold, normal, 12);
  @include transitionscolor;

  @include hover {
    color: darken($textPrimary, 20%);
  }
}

.btn-preview {
  width: size(90);
  height: size(30);
  @include radius(4);
  @include setBgColor(tranparent, $primary);
  @include font($primaryFont, 12, medium, normal, 12);
  @include border(solid, 1, $primary);
  @include transitionsall;
  text-align: center;
  display: inline-block;
  @include flex-center;

  @include hover {
    background: darken($primary, 5%);
    color: $white;
  }
}

.uploadimage-btn {
  @include setBgColor($primary, $white);
  padding: size(14) size(20);
  @include font($primaryFont, 12, semibold, normal, 12);
  @include transitionsbackground;
  @include radius(7);
  display: block;
  @include w100;
  display: inline-block;
  text-align: center;

  @include hover {
    background: darken($primary, 5%);
    color: $white;
  }
}

.preview-btn {
  @include border(solid, 1, $checkborder);
  @include font($primaryFont, 12, semibold, normal, 12);
  height: size(36);
  width: size(106);
  @include radius(7);
  color: $textSecondary;
  @include transitionsall;

  @include hover {
    background: darken($bodybg, 5%);
  }
}

.removeimage-btn {
  @include border(solid, 1, $headerborder);
  padding: size(12) size(20);
  @include radius(7);
  @include font($primaryFont, 12, semibold, normal, 12);
  @include transitionsbackground;

  @include hover {
    background: darken($bodybg, 5%);
  }
}

.drag-btn {
  @include setBgColor($bodybg, $textPrimary);
  @include font($primaryFont, 12, semibold, normal, 12);
  @include border(solid, 1, $headerborder);
  padding-block: size(10);
  @include w100;
  @include radius(7);
  @include transitionsbackground;
  @include flex-center;
  gap: size(10);

  @include breakpoint(tab992) {
    gap: size(6);
    @include font($primaryFont, 10, semibold, normal, 12);
  }

  @include breakpoint(desktop1400) {
    gap: size(10);
    @include font($primaryFont, 12, semibold, normal, 12);
  }

  @include hover {
    background: darken($bodybg, 5%);
  }
}

.btn-cancel {
  @include border(solid, 1, $checkborder);
  @include font($primaryFont, 12, semibold, normal, 12);
  width: size(90);
  height: size(30);
  @include radius(7);
  color: $textSecondary;
  @include transitionsall;

  @include hover {
    background: darken($bodybg, 5%);
  }
}

.addoption-btn {
  display: inline-flex;
  align-items: center;
  gap: size(6);
  color: $primary;
  @include font($primaryFont, 14, semibold, normal, 12);
  margin-left: size(10);
  @include transitionsall;

  @include hover {
    color: darken($primary, 5%);
  }
}

.singleoption-btn {
  @include flex;
  align-items: center;
  gap: size(6);
  @include setBgColor($headerborder, $textPrimary);
  @include font($primaryFont, 14, medium, normal, 12);
  padding: size(12) size(20);
  @include radius(50);
}

.btn-event ,
.btn-sendemail {
  @include border(solid, 1, $checkborder);
  @include radius(10);
  padding: size(8) size(12);
  @include flex;
  align-items: center;
  gap: size(6);
  color: $textPrimary;
  @include font($primaryFont, 12, medium, normal, 18);
  @include transitionsall;

  .text {
    margin-top: size(3);
  }
  @include hover {
    @include setBgColor($bodybg, $textPrimary);
  }



}

.btn-addemployee {
  @include border(solid, 1, $btndarkborder);
  width: size(120);
  height: size(32);
  @include flex-center;
  gap: size(10);
  @include radius(7);
  color: $textPrimary;
  @include font($primaryFont, 12, medium, normal, 12);
  @include transitionsbackground;
  @include hover {
    background: lighten($btndarkborder, 5%);
  }
}

// ==============================-dark mode-====================================
.darkmode {
  .btn-addtask {
    @include border(solid, 1, $headingText);
    color: darken($white, 20%);
    @include hover {
      background: $darkPrimary;
    }
  }

  .saveclose {
    @include hover {
      color: lighten($textPrimary, 20%);
    }
  }

  .removeimage-btn {
    @include setBgColor($lightDark, $white);
    border-color: lighten($lightDark, 10%);

    @include hover {
      @include setBgColor($shade-1, $white);
    }
  }

  .singleoption-btn {
    @include setBgColor($darkPrimary, darken($white, 20%));
  }

  .drag-btn {
    @include setBgColor($lightDark, darken($white, 20%));
    border-color: $textPrimary;

    svg {
      path {
        fill: darken($white, 20%);
        stroke: darken($white, 20%);
      }
    }

    @include hover {
      @include setBgColor($darkPrimary, darken($white, 20%));
    }
  } 
  .btn-event ,
  .btn-sendemail {
    border-color: $headingText;
    color: darken($white,20%);
    .icon {
      svg {
        path {
          stroke :darken($white,20%);
        }
      }
    }
    @include hover {
      @include setBgColor($shade-1,$white);
    }
  }
}
