@use "../../global" as *;
@use "../../partials" as *;

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include wh100;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.up-btn {
  opacity: 1;
  padding: size(12);
  // @include border(solid, 1, $primaryText);
}

.btn-clear {
  border: none;
  width: max-content;
}

.addto-btn {
  border: none;
  @include setBgColor($primary,$gray-900);
  @include radius(4);
  padding: size(8) size(30);
  @include font($primaryFont,14,medium,normal,18);
  width: auto;
  @include transitionsall;
 

  @include hover {
  @include setBgColor(darken($primary,10%),$gray-900);

  }
 
}

.checkout-btn {
  display: block;
  @include w100;
  border: none;
  background: $primary;
  color: $gray-900;
  padding: size(12) size(0);
  @include radius(4);
  @include transitionsall;
  @include font($primaryFont,16,medium,normal,20);
  
  @include hover {
    @include setBgColor(darken($primary,10%),$gray-900);
  
    }

}

.newaddress-btn {
  margin-top: size(12);
  padding: size(14) size(0);
  @include radius(4);
  @include border(solid,1,$gray-300);
  color: $gray-900;
  @include transitionsall;
  background: $white;
  @include font($primaryFont,16,medium,normal,20);

  @include hover {
    @include setBgColor(darken($white,10%),$gray-900);
  
    }
}




.btn-ripple {
  position: relative;
  overflow: hidden;
  position: relative;
  @include transitionsall;

  span {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    pointer-events: none;
    animation: ripples 0.6s linear infinite;
    -webkit-animation: ripples 0.6s linear infinite;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
}

@keyframes ripples {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}