@use "../../global" as *;
@use "../../partials" as *;

.darkmode {
  background: lighten($black, 10%);

  .header {
    background: $darkPrimary;
    border-color: $lightDark;

    .collapsemenu {
      .btn-toggle {
        border-color: $lightDark;
      }
    }

    &-nav {
      .iconlist {
        &-item {
          .btn-notification {
            svg {
              .circlebg {
                fill: $lightDark;
              }
              .circle {
                stroke: lighten($darkPrimary, 25%);
              }
            }
          }

          .btn-mode,
          .btn-user {
            background: $lightDark;
          }

          .notify,
          .userdropdown {
            background: $lightDark;
          }

          .notify {
            .notification {
              background: $lightDark;

              &-header {
                border-color: lighten($lightDark, 5%);

                .title {
                  color: $textSecondary;
                }

                .btn-clear {
                  color: $textSecondary;
                }
              }

              &-body {
                .emptynotification {
                  &-title {
                    color: $textSecondary;
                  }
                }

                .notificationlist {
                  &-link {
                    background: darken($lightDark, 5%);
                    border-color: lighten($lightDark, 5%);

                    .details {
                      .info {
                        .name {
                          color: $primary;
                        }

                        .text {
                          color: $white;
                        }
                      }

                      .time {
                        color: $textSecondary;
                      }
                    }

                    @include hover {
                      background: $lightDark;
                    }
                  }

                  &::-webkit-scrollbar-thumb {
                    background: lighten($lightDark, 15%);
                  }
                }
              }

              &-footer {
                background: $lightDark;
                border-color: lighten($lightDark, 5%);

                .link {
                  color: $textSecondary;

                  @include hover {
                    color: $primary;
                  }
                }
              }
            }
          }

          .userdropdown {
            .userlist {
              &-link {
                background: $lightDark;
                border-color: lighten($lightDark, 5%);

                .icon {
                  svg {
                    path {
                      fill: $textSecondary;
                    }
                  }
                }
                .text {
                  color: $textSecondary;
                }

                @include hover {
                  background: lighten($lightDark, 15%);
                }
              }
            }
          }
        }
      }
    }
  }

  .sidebar {
    background: $darkPrimary;
    border-color: $lightDark;

    &-header {
      border-color: $lightDark;
    }

    &-body {
      .sidelist {
        &-item {
          &.active {
            .sidelist-link {
              background: $lightDark;

              .icon {
                .fillicon {
                  path {
                    fill: $white;
                  }
                }

                .strokeicon {
                  path {
                    stroke: $white;
                  }
                }
              }

              .text {
                color: $white;
              }
            }
          }

          &:hover:not(.active) {
            .sidelist-link {
              background: $lightDark;

              .icon {
                .fillicon {
                  path {
                    fill: $white;
                  }
                }

                .strokeicon {
                  path {
                    stroke: $white;
                  }
                }
              }

              .text {
                color: $white;
              }
            }
          }
        }

        &-link {
          .text {
            color: $textSecondary;
          }

          svg {
            &.fillicon {
              path {
                fill: $textSecondary;
              }
            }

            &.strokeicon {
              path {
                stroke: $textSecondary;
              }
            }
          }
        }

        .title {
          color: $textSecondary;

          &.active {
            border-color: $lightDark;
          }
        }
      }
    }
  }

  .appmenu {
    background: $darkPrimary;
    border-color: $lightDark;

    .applist {
      &-item {
        &:hover:not(.active) {
          .applist-link {
            .icon {
              .fillicon {
                path {
                  fill: $white;
                }
              }
              .strokeicon {
                path {
                  stroke: $white;
                }
              }
            }

            .text {
              color: $white;
            }
          }
        }

        &.active {
          .applist-link {
            .icon {
              .fillicon {
                path {
                  fill: $white;
                }
              }
              .strokeicon {
                path {
                  stroke: $white;
                }
              }
            }

            .text {
              color: $white;
            }
          }
        }

        .mobdropdown {
          background: $lightDark;

          &-link {
            border-color: $headingText;

            .icon {
              .fillicon {
                path {
                  fill: $textSecondary;
                }
              }
              .strokeicon {
                path {
                  stroke: $textSecondary;
                }
              }
            }

            .text {
              color: $textSecondary;
            }

            @include hover {
              background: $headingText;
            }
          }
        }
      }

      &-link {
        .icon {
          .fillicon {
            path {
              fill: $textSecondary;
            }
          }
          .strokeicon {
            path {
              stroke: $textSecondary;
            }
          }
        }

        .text {
          color: $textSecondary;
        }
      }
    }
  }

  .ph-item {
    background: $darkPrimary;
    border: none;
    &:before {
      background: linear-gradient(
          90deg,
          hsla(0, 0%, 100%, 0) 46%,
          hsla(0, 0%, 43%, 0.212) 50%,
          hsla(0, 0%, 100%, 0) 54%
        )
        50% 50%;
    }
    .ph-row {
      div {
        background: lighten(#15202b, 7%);
      }
      .empty {
        background: transparent;
      }
    }
    .ph-avatar {
      background: lighten(#15202b, 7%);
    }
    .ph-picture {
      background: lighten(#15202b, 7%);
    }
  }

  // AUTHENTICATION DARKMODE
  .authentications {
    background: $lightDark;

    .left-content {
      .sliderbox {
        .swiper-pagination {
          &-bullet {
            &:hover:not(.active) {
              background: $primary;
            }

            &-active {
              background: $primary;
            }
          }
        }
      }
    }

    .right-content {
      background: $darkPrimary;

      .authentic {
        background: lighten($black, 10%);
        border-color: $lightDark;

        .welcome-title {
          color: $white;
        }

        .welcome-text {
          color: $white;
        }

        .forgotinfo {
          .text {
            color: $white;
          }
        }

        .socialauth {
          .btn-socialauth {
            background: $lightDark;
            border-color: lighten($lightDark, 10%);

            .text {
              color: $white;
            }
          }
        }

        .divide {
          .or {
            background: lighten($black, 10%);

            .ortitle {
              color: $white;
            }
          }

          .bar {
            background: lighten($lightDark, 10%);
          }
        }
      }
    }

    .authform {
      .inputbox {
        .inputfield {
          @include setBgColor($lightDark, $white);

          &::placeholder {
            color: $checkborder;
          }
        }

        .employeelist {
          .inputradio {
            .radio {
              &:checked ~ .radiolabel {
                @include setBgColor($primary, $white);
                border-color: $primary;
              }
            }

            .radiolabel {
              @include setBgColor($darkPrimary, $textSecondary);
              @include border(solid, 1, $lightDark);
            }
          }
        }
      }

      .agreebox {
        .agreecheck {
          &:checked ~ .agreelabel {
            &::before {
              background: $primary;
              border-color: $primary;
            }

            &::after {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        .agreelabel {
          color: $textSecondary;

          &::selection {
            @include setBgColor(transparent, $primary);
          }

          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 50%;
          }

          &::before {
            left: 0;
            @include transform(translateY(-50%));
            @include square(16);
            background: $darkPrimary;
            @include border(solid, 2, $lightDark);
            @include radius(3);
          }

          &::after {
            width: size(5);
            height: size(9);
            @include border(solid, 2, $white);
            @include transform(translateY(-60%) rotate(45deg));
            border-top: 0;
            border-left: 0;
            left: size(5.75);
            opacity: 0;
            visibility: hidden;
            @include transitionsall;
          }
        }
      }

      .submitbox {
        .btn-submit {
          @include setBgColor($primary, $white);
        }

        .authtext {
          color: $textSecondary;

          .authlink {
            color: $primary;
          }

          .btn-resend {
            color: $primary;
          }
        }

        .backlink {
          span {
            color: $textSecondary;
          }

          @include hover {
            span {
              color: $primary;

              svg {
                path {
                  stroke: $primary;
                }
              }
            }
          }
        }
      }
    }
  }

  // SETTINGS DARKMODE
  .settings {
    &-header {
      border-color: $lightDark;

      .titlebox {
        .settings-title {
          color: $white;
        }
      }
    }

    &-body {
      .settings-leftcontent,
      .settings-rightcontent {
        background: $darkPrimary;
        // box-shadow: none;

        .infotitle {
          color: $white;
        }
      }

      .settings-leftcontent {
        .leftheader {
          border-color: $lightDark;
        }

        .leftbody {
          .imagebox {
            .imagelabel {
              .labeltext {
                color: $white;
              }
            }

            .uploadbox {
              border-color: $lightDark;

              .uploadlabel {
                .addtext {
                  color: $textSecondary;
                }
              }
            }
          }

          .uploaderbox {
            .uploadinfo {
              .remove-button {
                @include setBgColor(transparent, $textPrimary);
                @include border(solid, 1, $textPrimary);

                @include hover {
                  @include setBgColor($textPrimary, $white);
                }
              }
            }
          }
         
          .inputlabel {
            color: $white;
          }

          .inputfield {
            @include setBgColor(lighten($black, 10%), $white);
            border-color: $lightDark;

            &:focus {
              border-color: $primary;
              background: transparent;
            }
          }

          .submitbox {
            border-color: $lightDark;
          }
        }
      }

      .settings-rightcontent {
        .rightheader {
          border-color: $lightDark;
        }

        .rightbody {
          .headerinfo {
            .headtitle {
              color: $white;
            }
          }

          .bodyinfo {
            .details {
              .infotext {
                color: $white;
              }
            }
          }
         
          .inputlabel {
            color: $white;
          }

          .inputfield {
            @include setBgColor(lighten($black, 10%), $white);
            border-color: $lightDark;

            &:focus {
              border-color: $primary;
              background: transparent;
            }
          }

          .submitbox {
            border-color: $lightDark;
          }

          .otpcode {      
            &-header {      
              .btn-resend {      
                @include hover {
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }

    .settingstab {  
      .nav-tabs {
        border-color: $lightDark;
        
        .nav-link {
          @include setBgColor(transparent, $textSecondary);
  
          &:hover:not(.active) {
            border-color: $primary;
            color: $white;
          }
  
          &.active {
            border-color: $primary;
            color: $white;
          }
        }
      }
  
      .integragiondetails {
        .integrationleft,
        .integrationright {
          background: $darkPrimary;
          box-shadow: $box-shadow-1;
    
          .title {
            color: $white;
          }
        }
  
        .integrationleft {
          &-header {
            border-color: $lightDark;
          }
        }
  
        .integrationright {
          &-header {
            border-color: $lightDark;
          }
        }
      }
  
      .integrationtabinfo {
        background: $darkPrimary;
        box-shadow: $box-shadow-1;
  
        .integrationheader {
          border-color: $lightDark;
  
          .btn-back {
            .icon {
              svg {
                path {
                  stroke: $textSecondary;
                }
              }
            }
  
            .text {
              color: $textSecondary;
            }
  
            @include hover {
              .icon {
                svg {
                  path {
                    stroke: $primary;
                  }
                }
              }
  
              .text {
                color: $primary;
              }
            }
          }
        }
  
        .integrationbody {
          .integrations {
            background: lighten($black, 10%);
            border-color: $lightDark;
            box-shadow: none;
  
            &-header {
              .info {
                &-text {
                  color: $white;
                }
              }
            }
            
            &-body {
              .inputbox {
                .inputfield {
                  @include setBgColor($lightDark, $white);
                  border-color: lighten($lightDark, 10%);
          
                  &:focus {
                    border-color: $primary;
                    background: transparent;
                  }
                }
              }
          
              .submitbox {
                border-color: $lightDark;
              }
            }
          }
        }
      }
  
      .jobinfo {
        background: $darkPrimary;
  
        &-header {
          border-color: $lightDark;
        
          .jobinfo-title {
            color: $white;
          }
  
          .btn-text {
            color: $primary;
    
            @include hover {
              color: darken($primary, 5%);
            }
          }
          
          .selectbox {  
            .nice-select {
              @include setBgColor($lightDark, $white);
              border-color: lighten($lightDark, 10%);
  
              &::after {
                content: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M1 1L8.5 8L16 1' stroke='%23ffffff' stroke-width='1.58' stroke-linecap='round'/%3E%3C/svg%3E%0A");
              }
      
              .nice-select-dropdown {
                background: $lightDark;
  
                .list {
                  .option {
                    font-size: size(12);
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
      
        &-body {
          .department-list,
          .stage-list {
            &-item {
              border-color: $lightDark;
  
              .titlebox {  
                .title {
                  color: $white;
                }
              }
            }
          }
  
          .email-list {
            &-item {
              border-color: $lightDark;
              .titlebox {  
                .title {
                  color: $white;
                }
              }
  
              .datebox {
                .maildate {
                  color: $white;
                }
              }
            }
          }
  
          .btn-add {
            color: $blue;
            border-color: $lightDark;
          }
        }
      }
    }

    .settingsform {
      background: $darkPrimary;
      box-shadow: $box-shadow-1;
    
      &-header {
        border-color: $lightDark;
      
        .settingsform-title {
          color: $white;
        }
      }
    
      &-body {
        .inputbox {
          .inputfield {
            @include setBgColor($lightDark, $white);
            border-color: lighten($lightDark, 10%);
    
            &:focus {
              border-color: $primary;
              background: transparent;
            }
          }
        }
    
        .selectbox {
          .selectlabel {
            color: $white;
          }
    
          .nice-select {
            @include setBgColor($lightDark, $white);
            border-color: lighten($lightDark, 10%);

            &::after {
              content: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M1 1L8.5 8L16 1' stroke='%23ffffff' stroke-width='1.58' stroke-linecap='round'/%3E%3C/svg%3E%0A");
            }
    
            .nice-select-dropdown {
              background: $lightDark;

              .list {
                .option {
                  font-size: size(12);
                  font-weight: 400;
                }
              }
            }
          }
        }
    
        .settingtable {
          background: $lightDark;
          border-color: lighten($lightDark,  10%);
    
          .table {
            margin: size(0);
            
            thead {
              background: $bodybg;
              background: $lightDark;
      
              tr {
                border-color: lighten($lightDark,  10%);
    
                th {
                  color: $white
                }
              }
            }
      
            tbody {
              td {
                vertical-align: middle;
              }
    
              td, th {
                border: 0;
              }
    
              tr {
                border-color: lighten($lightDark,  10%);
    
                &:last-of-type {
                  border-bottom: 0;
                }
              }
      
              .searchinputbox {
                .searchboxinput {
                  .searchfield {
                    @include setBgColor(transparent, $white);
      
                    &::placeholder {
                      color: $textPrimary;
                    }
      
                    &:focus {
                      &::placeholder {
                        color: $textSecondary;
                      }
                    }                    
                  }
                }
              }
      
              .userinfo {
                .username {
                  color: $white;
                }
              }
      
              .emailinfo {
                .emailaddress {
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
     
    .action {
      @include flex-center;
      min-width: size(60);
    
      .btn-action {
        @include square(16);
        @include flex-center;
        overflow: hidden;
        
        svg {
          @include wh100;
        }
      }
    }
    
    .actions {
      @include flex-center;
      gap: size(8);
      min-width: size(60);
    
      .btn-tableaction {
        @include square(16);
        @include flex-center;
        overflow: hidden;
        
        svg {
          @include wh100;
        }
      }
    }
    
    .socialinfo {
      background: $darkPrimary;
    
      &-header {
        border-color: $lightDark;
      
        .title {
          color: $white;
        }
      }
    
      &-body {
        @include flex-column;
        gap: size(20);
        
        .inputbox {    
          .inputfield {
            @include setBgColor($lightDark, $white);
            border-color: lighten($lightDark, 10%);
    
            &:focus {
              border-color: $primary;
              background: transparent;
            }
          }
        }
    
        .submitbox {
          border-color: $lightDark;
        }
      }
    }
  }

  .cardintegration {
    background: lighten($black, 10%);
    background: $lightDark;
    box-shadow: none;
    border-color: $lightDark;
    border-color: lighten($lightDark, 10%);
  
    .info {
      &-text {
        color: $white;
      }
    }
  }

  .cardtemplate {
    background: $darkPrimary;
    box-shadow: none;
    border-color: $lightDark;

    .template-thumbnail {
      .viewinfo {
        .btn-view {
          background: rgba($black, .7);
  
          svg {
            path {
              fill: $textSecondary;
            }
          }
  
          @include hover {
            background: $lightDark;
  
            svg {
              path {
                fill: $white;
              }
            }
          }
        }
      }
  
      .customcheckbox {    
        .checklabel {          
          &::before {
            @include square(20);
            border-color: lighten($lightDark, 60%);
            background: lighten($lightDark, 40%);
            @include circle;
            @include translateY(-45%);
            @include transitiontransform;
          }
          
          &::after {
            width: size(5);
            height: size(10);
            @include border(solid, 2, $white);
            @include transform(translateY(-50%) rotate(45deg));
            border-top: 0;
            border-left: 0;
            left: size(7.5);
            opacity: 0;
            visibility: hidden;
            @include transitiontransform;
          }
        }
      }
    }
  }

  .modal {
    &-content {
      background: $darkPrimary;
    }

    &-header {
      border-color: $lightDark;
    }
  }

  .settingsmodal {
    .modal-header {
      border-color: $lightDark;
  
      .modal-title {
        color: $white;
      }
    }
  
    .modal-body {
      .addform {
        .inputbox {
          .inputlabel {
            color: $white;
          }
  
          .inputfield {
            @include setBgColor($lightDark, $white);
            border-color: lighten($lightDark, 10%);
  
            &:focus {
              border-color: $primary;
              background: transparent;
            }
          }
        }
      }
  
      .modalplaceholder-info {  
        .modalplaceholder {  
          &-header {
            .title {
              color: $white;
            }
          }
  
          &-body {
            .badge-placeholder {
              @include setBgColor(lighten($lightDark, 10%), $textSecondary);
            }
          }
        }
  
        .info {
          &-text {
            color: $textSecondary;
          }
        }
      }
    }
  
    .modal-footer {
      border-color: $lightDark;
  
      .btn-cancel {
        border-color: $lightDark;

        @include hover {
          color: $danger;
          @include setBgColor(lighten($lightDark, 10%), $white);
        }
      }
  
      .btn-save {
        width: size(123);
        height: size(36);
        @include setBgColor($success, $white);
        @include radius(8);
        font-size: size(12);
        font-weight: 600;
        @include transitionsall;
  
        @include hover {
          @include setBgColor(darken($success, 10%), $white);
        }
      }
    }
  }

  .jobtrack {
    &-body {
      .title {
        color: $white;
      }

      .trackform {    
        .inputbox {
          .inputlabel {
            color: $white;
          }

          .inputfield {
            @include setBgColor($lightDark, $white);
            border-color: lighten($lightDark, 10%);

            &:focus {
              border-color: $primary;
              background: transparent;
            }
          }
        }
      }
    }

    .trackinfo {
      &-header {
        .title {
          color: $white;
        }
      }

      &-body {
        .desktop-track {
          &::before {
            border-color: $lightDark;
          }

          .mytrack {  
            .mytrackinfo {  
              &-header {  
                .title {
                  color: $white;
                }
              }
              
              &-body {
                background: $checkborder;

                .circlebox {
                  background: $lightDark;
                }
              }
            }
          }
        }

        .mobile-track {
          &::before {
            border-color: $lightDark;
          }

          .mytrack {
            .mytrackinfo {
              @include flex-center-vert;
              gap: size(16);
              position: relative;
              z-index: 10;

              &-header {
                .title {
                  color: $white;
                }
              }
              
              &-body {
                background: $checkborder;

                .circlebox {
                  background: $lightDark;
                }
              }
            }

            &.active {
              .mytrackinfo {
                &-header {
                  opacity: 1;
                  visibility: visible;
                }

                &-body {
                  background: $primary;
                }
              }
            }
          }
        }

        .info {
          @include flex-center;
          text-align: center;

          &-text {
            color: $textPrimary;
            font-size: size(14);
            font-weight: 400;

            .link {
              color: $primary;
              font-size: size(14);
              font-weight: 500;
              text-decoration: underline;
              @include transitionsall;

              @include hover {
                color: $blue;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  .taskform {
    .info {
      &-text {
        color: $textSecondary;
      }
    }
  
    .inputbox {
      .inputlabel {
        color: $white;
      }
  
      .inputfield {
        @include setBgColor($lightDark, $white);
        border-color: lighten($lightDark, 10%);
  
        &:focus {
          border-color: $primary;
          background: transparent;
        }
      }
    }
  }

  .submissionbox {  
    .info {    
      &-text {
        color: $textSecondary;
  
        strong {
          color: $white;
        }
      }
    }
  }

  .emailtemplate {
    background: $darkPrimary;
  
    &-header {
      border-color: $lightDark;
  
      .templatetitle {
        color: $white;
      }
    }
    
    &-body {
      .template-details {
        background: $lightDark;
        border-color: lighten($lightDark, 10%);
  
        .info {
          &-text {
            color: $white;
          }
        }
        .maildetail {
          .mailbody {
            color: $white;
          }
        }
      }
    }
  
    .mailfooter {
      &-body {
        .title {
          color: $white;
        }
      }
    }
  }

  .reportcontent {
  
    &-header {
      border-color: $lightDark;
  
      .titlebox {
        .title {
          color: $white;
        }
      }
  
      .inputdate {
        .inputlabel {
          color: $white;
        }
  
        .inputfield {
          @include setBgColor(transparent, $headingText);
          border-color: $lightDark;
          @include radius(8);
          font-size: size(12);
          font-weight: 400;
          padding: size(4) size(8);
          height: size(38);
          @include transitionsall;
          max-width: 80%;
          position: relative;
          z-index: 100;
          cursor: pointer;
          @include transitionsall;

          &:focus {
            border-color: $primary;
          }

          &::placeholder {
            color: $textSecondary;
          }
        }
  
        .icon {
          position: absolute;
          top: 50%;
          right: size(20);
          @include translateY(-50%);
          @include square(20);
          @include flex-center;
          overflow: hidden;
          z-index: 0;
  
          svg {
            @include wh100;
          }
        }
  
        .error {
          position: absolute;
          top: 102%;
          left: 18%;
          @include w100;
          display: none;
  
          &-message {
            color: $danger;
            font-size: size(11);
            font-weight: 500;
          }
        }
  
        &.errorfield {
          .error {
            display: block;
          }
        }
      }
  
      .selectinput {
        position: relative;
  
        .inputlabel {
          color: $white;
        }
  
        .nice-select {
          @include setBgColor(transparent, $textSecondary);
          border-color: $lightDark;
  
          .nice-select-dropdown {
            background: transparent;
          }
  
          &:focus {
            border-color: $primary !important;
            background: transparent;
          }
  
          &::after {
            top: 30%;
            transform: rotate(0) translateY(50%) !important;
          }
  
          &.open {
            &::after {
              transform: rotateX(180deg) !important;
            }
          }
        }
  
        .error {
          position: absolute;
          top: 102%;
          left: 32%;
          @include w100;
          display: none;
  
          &-message {
            color: $danger;
            font-size: size(11);
            font-weight: 500;
          }
        }
  
        &.errorfield {
          .error {
            display: block;
          }
        }
      }
  
      .btn-generate {
        @include setBgColor($primary, $white);
        @include radius(8);
        @include flex-center;
        font-size: size(12);
        font-weight: 600;
        padding: size(12) size(30);
        text-align: center;
        @include transitionsall;
  
        @include hover {
          @include setBgColor(darken($primary, 10%), $white);
        }
      }
    }
    
    .dataTables_wrapper {
      .dataTables_info {
        background: $darkPrimary;
        border-color: $lightDark;
        color: $white;
      }
  
      .dt-buttons {
        background: $darkPrimary;
        border-color: $lightDark;
  
        .dt-button {
          color: $textPrimary;
          border-color: $textPrimary;
  
          span {
            color: inherit;
            font: inherit;
          }
        }
      }
  
      .table {
        thead {
          background: $darkPrimary;
  
          tr {
            th {
              border-color: $lightDark;
              color: $white;
            }
          }
        }
        
        tbody {
          background: $darkPrimary;
  
          tr {
            td {
              border-color: $lightDark;
              color: $white;
            }
          }
  
          .emptytable {
            background: $darkPrimary;
  
            .emptydata {
              .text {
                color: $white;
              }
            }
          }
        }
      }
  
      .table.dataTable.no-footer {
        border-bottom: 0;
      }
  
      .bottom {
        margin-top: size(30);
  
        .dataTables_length {
          label {
            color: $white;
            font-size: size(12);
          }
        }

        .dataTables_length select {
          background: $darkPrimary;
          color: $white;
        }
      }
  
      .dataTables_paginate {
        .previous,
        .next {
          color: $white;
    
          &:hover:not(.disabled) {
            background: $primary;
            color: $white !important;
          }

          &.disabled {
            color: $textSecondary !important;
          }
        }
      }
    }
  }

  .templateheader {
    background: $darkPrimary;
    border-color: $lightDark;
  
    .btn-back {
      @include flex-center-vert;
  
      .icon {
        @include square(24);
        @include flex-center;
        overflow: hidden;
      }
  
      .text {
        color: $textPrimary;
        font-size: size(16);
  
        @include breakpoint(mobile768) {
          font-size: size(18);
        }
      }
  
      @include hover {
        .icon {  
          svg {
            @include wh100;
    
            path {
              stroke: $darkText;
            }
          }
        }
  
        .text {
          color: $darkText;
        }
      }
    }
  }

  // CALENDAR PAGE
  .dashboard-calendar {
    .fc-media-screen {
      .fc-header-toolbar {
        background: $lightDark;
        border-color: $lightDark;
      
        .fc-toolbar-chunk {
          &:first-child {
            .fc-button-group {      
              button {
                background: $darkPrimary;
      
                span {
                  color: $textSecondary;
                }
              }
            }
          }
      
          .fc-toolbar-title {
            color: $white;
          }
      
          &:last-child {  
            .fc-button-group {
              button {
                @include setBgColor(transparent, $textSecondary);
  
                &:hover:not(.fc-button-active):not(.fc-addtask-button) {
                  border-color: $primary;
                  color: $white;
                }
  
                &.fc-button-active {
                  border-color: $primary;
                  color: $white;
                }
  
                &.fc-addtask-button {
                  border-color: $lightDark;
                  @include setBgColor($darkPrimary, $textSecondary);

                  @include hover {
                    @include setBgColor($textPrimary, $white);
                  }
                }
              }
            }
          }
        }
      }
      
      .fc-view-harness {
        .fc-timegrid-event-harness-inset .fc-timegrid-event {
          background: $lightDark;
          box-shadow: $box-shadow-1;
  
          .fc-event-title {
            color: $white;
          }
  
          .fc-event-time {
            color: $textSecondary;
          }
        }
  
        .fc-col-header-cell-cushion {
          color: $white;
        }
  
        .fc-popover {
          background: $lightDark;
          box-shadow: $box-shadow-1;
          
          .fc-popover-header {
            background: $darkPrimary;
  
            .fc-popover-title {
              color: $white;
            }
          }
  
          .fc-popover-body {
            .fc-daygrid-event-harness {
              .fc-daygrid-event-dot {
                border-color: $blue;
              }
  
              .fc-event-draggable {
                background: $darkPrimary;
  
                .fc-event-time,
                .fc-event-title {
                  color: $textSecondary;
                }
              }
  
              &:nth-child(1) {
                .fc-event-draggable {
                  border-color: $yellowcolor;
                }
              }
  
              &:nth-child(2) {
                .fc-event-draggable {
                  border-color: $blue;
                }
              }
              
              &:nth-child(3) {
                .fc-event-draggable {
                  border-color: $violatecolor;
                }
              }
              
              &:nth-child(4) {
                .fc-event-draggable {
                  border-color: $lightgreencolor;
                }
              }
              
              &:nth-child(5) {
                .fc-event-draggable {
                  border-color: $orange;
                }
              }
              
              &:nth-child(6) {
                .fc-event-draggable {
                  border-color: $electriccyan;
                }
              }
            }
          }
        }
      }
    }

    table, td, th {
      border-color: $lightDark;
    }

    .fc-theme-standard .fc-list-day-cushion {
      background-color: $darkPrimary;
    }

    .fc-daygrid-day-number {
      color: $white;

      @include hover {
        text-decoration: none;
      }
    }

    .fc .fc-list-event:hover td {
      background: $textPrimary;
    }

    .fc-theme-standard .fc-list {
      border-color: $lightDark;
    }
  
    .fc-listDay-view {
      .fc-list-table {
        tbody {          
          .fc-list-day-text {
            color: $primary;
            font-size: size(20);
            font-weight: 600;
  
            @include hover {
              text-decoration: none;
            }
          }
  
          .fc-event {
            .fc-list-event-time {
              color: rgba($white, .75);
            }
  
            .fc-list-event-dot {
              border-color: $yellowcolor !important;
              box-shadow: $box-shadow-1;
            }
  
            .fc-list-event-title {
              color: $white;
            }
          }
        }
      }
    }

    .fc .fc-multimonth-daygrid {
      background: $darkPrimary;
    }
  
    .fc-multiMonthYear-view {
      border: 0;
      gap: size(14);
  
      .fc-multimonth-month {
        background: $darkPrimary;
  
        .fc-multimonth-header {
          background: $darkPrimary;
  
          .fc-multimonth-title {
            color: $white;
          }
  
          .fc-multimonth-header-table {
            thead {
              th {
                border: 0;
  
                .fc-col-header-cell-cushion {
                  color: $white;
                }
              }
            }
          }
        }
  
        .fc-daygrid-day-frame {
          @include flex-center-column;
          text-align: center;
  
          .fc-daygrid-day-top {
            .fc-daygrid-day-number {
              color: $white;
  
              @include hover {
                text-decoration: none;
              }
            }
          }
        }
  
        .fc-multimonth-daygrid-table {
          tr {
            td {
              border: 0;
              background: transparent;
            }
          } 
        }
      }
    }
  
    .fc-daygrid-day,
    .fc-timegrid-slot {
      background: $darkPrimary !important;
    }

    table {
      thead {
        th {
          background: $darkPrimary;
        }
      }

      tbody {
        td {
          background: $darkPrimary;
        }
      }
    }
  }
  
  // TASK MODAL
  .taskmodal {
  
    .modal-content {
      padding: size(16);
      
      @include breakpoint(mobile768) {
        padding: size(20);
      }
      
      @include breakpoint(tab992) {
        padding: size(24);
      }
    }
  
    .modal-header {
      padding: 0 0 size(16);
      @include border-single(bottom, solid, 1, $headerborder);
  
      .modal-title {
        font-size: size(16);
        font-weight: 500;
        color: $headingText;
      }
  
      .btn-close {
        padding: 0;
      }
    }
  
    .modal-body {
      .addtasks {
        @include flex-column;
        gap: size(16);
  
        .tasklabel {
          color: $headingText;
          font-size: size(14);
          font-weight: 400;
          text-align: left;
        }
  
        .taskfield {
          @include setBgColor($bodybg, $headingText);
          @include border(solid, 1, $headerborder);
          @include radius(8);
          font-size: size(14);
          font-weight: 400;
          @include w100;
          padding: size(12.5) size(16);
          @include transitionsall;
  
          &:focus {
            border-color: $primary;
            background: transparent;
          }
        }
  
        .nice-select {
          @include setBgColor($bodybg, $headingText);
          @include border(solid, 1, $headerborder);
          @include radius(8);
          padding: size(12.5) size(16);
          height: size(44);
          @include transitionsall;
  
          .current {
            font-size: size(14);
            font-weight: 400;
          }
  
          .nice-select-dropdown {
            .list {
              .option {
                font-size: size(12);
                font-weight: 400;
              }
            }
          }
  
          &:focus {
            border-color: $primary;
            background: transparent;
          }
  
          &::after {
            transform: rotate(0) translateY(40%) !important;
          }
  
          &.open {
            &::after {
              transform: rotateX(180deg) !important;
            }
          }
        }
  
        .btnlink {
          color: $primary;
          font-size: size(14);
          font-weight: 400;
          display: inline-block;
          @include w100;
          @include transitionscolor;
  
          @include hover {
            color: $blue;
          }
        }
      }
    }
  
    .modal-footer {
      border-color: $headerborder;
      @include flex-end;
      gap: size(10);
  
      .btn-discard,
      .btn-save {
        @include border(solid, 1, transparent);
        @include radius(8);
        font-size: size(12);
        font-weight: 600;
        min-width: size(101);
        height: size(36);
        @include flex-center; 
        text-align: center;
        @include transitionsall;
      }
  
      .btn-discard {
        @include setBgColor($white, $textPrimary);
        border-color: $headerborder;
  
        @include hover {
          @include setBgColor($textPrimary, $white);
          border-color: $textPrimary;
        }
      }
  
      .btn-save {
        @include setBgColor($success, $white);
        border-color: $success;
  
        @include hover {
          @include setBgColor($white, $success);
          border-color: $success;
        }
      }
    }
  }
}
