@use '../../global' as *;
@use '../../partials' as *;


.inputbox {
    @include flex-column;
    gap: size(8);
    position: relative;

    .inputlabel {
      color: $headingText;
      @include font($primaryFont, 14, medium, normal, 17);
    }

    .inputfield ,.textareafield{
      @include setBgColor($bodybg, $bodybg);
      @include border(solid, 1, $headerborder);
      @include font($primaryFont, 14, normal, normal, 17);
      padding: size(10) size(16);
      @include transitionsall;
      @include radius(8);
        color: $textPrimary;
      &::placeholder {
        color: $textSecondary;
      }

      &:focus {
        border-color: $primary;
      }
    }
 

    .error {
      display: none;

      .error-message {
        color: $danger;
        @include font($primaryFont, 13, medium, normal, 17);
      }
    }

    &.errorfield {
      .inputfield {
        border-color: $danger;
      }
      
      .error {
        display: block;
      }
    }

    &.hiring-manager {
      position: relative;
      
      figure {
        position: absolute;
        @include square(30);
        overflow: hidden;
        @include circle;
        left: size(14);
        top: 48%;
        
        img {
          @include wh100;
          object-fit: cover;
          
          
        }
      }
      .icon {
        position: absolute;
        right: size(14);
        top: 50%;
      }
      .inputfield {
        padding-left: size(50);
        padding-right: size(40);
      }
    } 
    &.period {
      position: relative; 
      .icon {
        position: absolute;
        right: size(14);
        top: 50%;
      }
    }
  }

.groupfield-input {
    background:#F7F7FA;
    padding: size(10) size(14);
    @include radius(8);
    @include border(solid,1,$headerborder);

    &::placeholder {
      color: $textSecondary;
      @include font($primaryFont, 14, normal, normal, 17);
    }
}


  .desktop-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    @include w100;
    height: size(240);
    background: $white;
    gap: length(4);
    @include double-radius(bottom, left, 10, bottom, right, 10);
    padding: length(16) length(20) length(24);
    overflow-x: hidden;
    overflow-y: scroll;
    @extend %animation;
    @extend %slideUpIn;
    display: none;
    z-index: 100;
    flex-direction: column;
    @include border(solid,1,$headerborder);
    padding: size(20) size(10);
    border-top: none;


    &::-webkit-scrollbar {
      background: transparent;
      width: size(4);
    }

    &::-webkit-scrollbar-thumb {
      background: $shade-1;
      @include radius(8);
      width: size(4)
    }

    &.active {
      @include flex-column;
    }

    .card-suggestion {
      @include flex;
      align-items: center;
      gap: size(10);
      
      padding: size(10) size(10);
      color: $textPrimary;
      @include transitionsall;
      @include radius(8);
      @include font($primaryFont, 12, medium, normal, 17);

      @include hover {
        @include setBgColor(#f6f6f9,$textPrimary);
      }
    }
  } 

  .upload-box {
    .uploadbox-label {
      background: $bodybg;
      width: 100%;
      @include flex-center;
      height: size(160);
      @include border(solid,1,$headerborder);
      @include radius(8);

      .middle {
        @include flex;
        gap: size(10);
        align-items: center;

        .right {
          @include flex-column;
          align-items: center;
          color: $textPrimary;
         @include font($primaryFont, 10, semibold, normal, 12);
         .browse {
          color: $primary;
          
         }
        }
      }
    }
  } 

  .dropdownbox {
    &-header {
      @include flex-between; 
      padding: size(10) size(0);
      .title {
        color: $headingText;
        @include font($primaryFont, 14, semibold, normal, 17);

      }
      .checkbox-wrapper {
        @include flex;
        align-items: center;
        gap: size(10);
        .selectcountry {
          color: $textPrimary;
          @include font($primaryFont, 13, normal, normal, 17);
        
        }
      }
    }

    &-body {

    }
  } 

  .checkbox-wrapper {
    @include flex;
    align-items: center;
    gap: size(10);
    .selectcountry {
      color: $textPrimary;
      @include font($primaryFont, 13, normal, normal, 17);
    
    }
  }

  .subjectinput {
    border: none;
    flex: 1;
    width: 100%;

    &::placeholder {
      color: $checkborder;
      @include font($primaryFont,14,normal,normal,18);
    }
  }
  .emailinput {
    min-height: size(100);
    @include w100;
    padding: size(14);
    background: transparent;
    &::placeholder {
      
    }
  }


  .check-box {
    input[type="checkbox"] {
      position: relative;
      appearance: none;
      width: 26px;
      height: 13px;
      background: #ccc;
      border-radius: 50px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: 0.4s; 

      &:checked[type="checkbox"] {
        background: $success;
        &::after {
          left: 60%;
        }
      }

      &::after {
        position: absolute;
        content: "";
        width: 14px;
        height: 14px;
        top: 0;
        left: 0;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        transform: scale(1.1);
        transition: 0.4s;
      }
    }
  }

  .event-textarea {
    background: $bodybg;
    @include w100;
    padding: size(12);
    @include radius(8);
    @include hideScrollbar;
    min-height: size(270);

    
  }


  
  .darkmode {

    .inputbox { 
      .inputlabel {
        color: darken($white,10%);
        @include font($primaryFont, 14, medium, normal, 17);
      } 
      .inputfield ,.textareafield{
        @include setBgColor(#292c2e, $bodybg);
        border-color: $headingText;
        
      }
  
    }

    .upload-box {
      .uploadbox-label {
        background: #292c2e;     
        border-color: $textPrimary;  
        .middle {
          .right {
            color: darken(white, 20%);
          }
        }
      }
    } 
    .groupfield-input { 

     background: $lightDark !important;
     color: $white;
     border-color: $textSecondary !important;
    } 

    .dropdownbox {
      &-header {
        .title {
          color:darken(white,20%);
        }
        .checkbox-wrapper {
          .selectcountry {
            color:darken(white,20%);          
          }
        }
      }
  
      &-body {
  
      }
    } 

    .emailinput { 
     &::placeholder {
      color: darken($white,20%);
     }
    }
    .event-textarea { 
      background: transparent;
      color: darken($white,10%);
    }


  }
