@use "../../global"as *;
@use "../../partials"as *;

.pipeline-table {
    overflow-x: scroll;
    // margin-left: 5em;
    overflow-y: visible;
    padding: 0;
    margin-left: 9em;

    @include breakpoint(mobile768) {
        margin-left: 14em;
    }

    &::-webkit-scrollbar {
        height: size(12);
        display: none;
    }

    &::-webkit-scrollbar-track {
        background: #D0D5DD;
        @include radius(10);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $white;
        @include border(solid, 4, transparent);
        border-radius: size(10);
        background-clip: content-box;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        @include w100;
    }

    td,
    th {
        margin: 0;

        white-space: nowrap;
        border-top-width: 0px;
    }

    .headcol {
        position: absolute;
        width: 9em;
        left: size(24);
        top: auto;
        /*only relevant for first row*/
        margin-top: 0px;
        /*compensate for top border*/
        @include flex-column;

        @include breakpoint(mobile768) {
            width: 14em;
        }

        gap: size(8);

        .title {
            color: $headingText;
            @include font($primaryFont, 14, medium, normal, 14);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: size(4);
        }

        .total {
            color: $textPrimary;
            @include font($primaryFont, 12, normal, normal, 12);

            b {
                padding-left: size(10);
            }
        }
    }

    .title-row {

        :nth-child(1) {
            text-align: left;
        }

        * {
            color: $textPrimary;
            @include font($primaryFont, 12, medium, normal, 12);
            padding: 10px 0;
            text-align: center;
        }
    }

}


// hide search 
.dataTables_filter {
    display: none;
}

.table-wrapper {
    @include flex-column;
    margin-top: size(16);

    @include breakpoint(tab992) {
        margin-top: size(24);
    }

    .table-search {
        position: relative;
        width: 100%;

        .search__icon {
            position: absolute;
            top: 50%;
            left: size(20);
            transform: translateY(-50%);
        }

        input {
            @include w100;
            @include border(solid, 1, $tableBorder);
            padding: size(10) size(20);
            border-top-left-radius: size(10);
            border-top-right-radius: size(10);

            @include breakpoint(mobile576) {
                padding: size(16);
                padding-left: size(50);
            }

            padding-left: size(50);
        }

        .selected-dropdown {
            position: absolute;
            right: size(10);
            top: 40%;
            @include flex;
            gap: size(6);
            align-items: center;

            span {
                @include font($primaryFont, 13, normal, normal, 18);

                .bold {
                    color: $black;
                }

            }

            button {
                @include square(20);
                background: $headerborder;
                @include circle;
                @include flex-center;

            }

            .dropdown {

                &-menu {
                    padding: size(12);
                    border: size(1) solid $headerborder;
                    box-shadow: $box-shadow-1;
                    @include radius(8);
                }

                &-item {
                    padding: size(8) size(10);
                    @include transitionsall;
                    @include font($primaryFont, 13, normal, normal, 18);
                    @include radius(6);
                    user-select: none;
                    color: $textPrimary;
                    @include w100;

                    @include hover {
                        background: $headerborder;
                    }

                }
            }
        }
    }

    table {
        background: $white;
        border-radius: size(0) size(0) size(10) size(10);
        border-bottom: none !important;

        tr {
            td {
                @include border-single(bottom, solid, 1, $tableBorder);
                padding: size(15) size(8);
                white-space: nowrap;

                &:first-child {
                    padding: size(15) size(15);
                    @include border-single(left, solid, 1, $tableBorder);

                    &::before {
                        display: none !important;
                    }

                    &::after {
                        display: none !important;
                    }

                }

                &:last-child {
                    @include border-single(right, solid, 1, $tableBorder);

                }

                .screening {
                    color: hsl(178, 16%, 47%);
                }

                .design__challenge {
                    color: hsl(31, 98%, 62%);
                }

                .interview {
                    color: hsl(295, 45%, 61%);
                }

                .dropdown {

                    .icon {
                        padding: size(10);
                        cursor: pointer;
                    }

                    &-menu {

                        padding: size(12);
                        border: size(1) solid $headerborder;
                        box-shadow: $box-shadow-1;
                        @include radius(8);

                        .dropdown-items {
                            @include flex-column;
                            align-items: flex-start;

                            .item {
                                padding: size(8) size(0);
                                @include transitionsall;
                                @include font($primaryFont, 13, normal, normal, 18);
                                @include radius(6);
                                user-select: none;
                                color: $textPrimary;
                                text-align: center;
                                @include w100;

                                @include hover {
                                    background: $headerborder;
                                }
                            }

                        }
                    }
                }
            }

            .userimage__wrapper {
                @include flex;
                gap: size(5);

                .userimage__thumb {
                    @include square(30);
                    @include circle;
                    overflow: hidden;
                    @include transitiontransform;

                    @include hover {
                        transform: scale(1.1);
                    }

                    img {
                        @include wh100;
                        object-fit: cover;

                    }
                }
            }

            &.checked {
                background-color: #F8FBFF;
            }

        }


    }

    // datattabel pagination 
    .dataTables_paginate {
        .paginate_button {
            border: none;

            &.next {
                position: relative;

                &:hover {
                    background: $bodybg;
                    color: $textPrimary !important;
                    border: transparent;

                }

                &::after {
                    content: url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25 9.375L5.625 5L1.25 0.625' stroke='%232F3643' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    position: absolute;
                    right: 0;
                }


            }

            &.previous {
                display: inline-flex;
                position: relative;

                &:hover {
                    background: $bodybg;
                    color: $textPrimary !important;
                    border: transparent;
                }

                &::before {
                    content: 'hei';
                    margin-right: size(10);
                    content: url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.75 9.375L1.375 5L5.75 0.625' stroke='%232F3643' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
                    position: absolute;
                    left: 0;
                }
            }

            &.disabled {
                border: none;
            }
        }

        span {
            .paginate_button {
                color: white;
                @include circle;
                border: none;

                &.current {
                    background-color: $primary;
                    color: $white !important;

                    @include hover {
                        background: $primary;
                        color: $white !important;
                    }
                }

                &:hover:not(.current) {
                    background: transparent;
                    border: none;
                    color: $textPrimary !important;
                }

            }
        }

    }

    // datatable length 
    .dataTables_length {
        padding-top: size(10);
        color: $headingText;
        @include font($primaryFont, 12, normal, normal, 12);

        select {
            padding: size(6) size(10);
            @include radius(8);
            @include font($primaryFont, 12, normal, normal, 12);
            @include border(solid, 1, $checkborder);

        }
    }
}



.darkmode {
    .table-wrapper {

        .table-search {


            .search__icon {}

            input {
                background: $shade-1;
                border-color: rgba(248, 250, 252, 0.08);
                color: $white;

            }

            .selected-dropdown {


                span {
                    color: $btndarkborder;

                    .bold {
                        color: $white
                    }

                }

                button {
                    background: $lightDark;


                }

                .dropdown {
                    &-menu {
                        border-color: $headingText;
                        background: $lightDark;
                    }

                    &-item {
                        color: $white;
                        @include w100;

                        @include hover {
                            background: #0b1120;
                        }

                    }
                }
            }
        }

        table {
            background: rgba(30, 41, 59, .6);

            td {
                border-color: rgba(248, 250, 252, .08);
                color: darken($white, 20%);
            }

            tr {
                td {
                    border-color: rgba(248, 250, 252, .08);

                    &:first-child {
                        border-color: rgba(248, 250, 252, .08);

                        &::before {
                            display: none !important;
                        }

                        &::after {
                            display: none !important;
                        }

                    }

                    &:last-child {
                        border-color: rgba(248, 250, 252, .08);

                    }

                    .dropdown {

                        .icon {
                            padding: size(10);
                            cursor: pointer;
                        }

                        &-menu {
                            border-color: $headingText;
                            background: $lightDark;


                            .dropdown-items {
                                .item {
                                    color: $white;

                                    @include hover {
                                        background: #0b1120;
                                    }
                                }

                            }
                        }
                    }
                }

                &.checked {
                    background-color: $lightDark;
                }
            }
        }



        // datatable length 
        .dataTables_length {
            padding-top: size(10);
            color: $white;
            @include font($primaryFont, 12, normal, normal, 12);

            select {
                padding: size(6) size(10);
                @include radius(8);
                @include font($primaryFont, 12, normal, normal, 12);
                border-color: $headingText;
                color: darken($white, 29%);

            }
        }
    }
}