@use "../../global" as *;
@use "../../partials" as *;

.btn-cart {
           
    @include flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: size(16);
    .left {

    }

    .right {
        @include flex; 
        align-items: flex-start;
        gap: size(40);
    }
    .delete-price {
        @include flex-column;
    }

    .title {
        color: $gray-900;
        @include font($primaryFont,14,normal,normal,20);
    
        @include breakpoint(mobile576) {
         @include font($primaryFont,16,normal,normal,20);
        }
    }
    .info {
        color: $gray-600;
        @include font($primaryFont,12,normal,normal,14);
    }
    
    .counter {
        @include flex;
        align-items: center;
        gap: size(10);
        background: #FEF8F1;
        width: max-content;
        padding: size(4) size(4);
        @include radius(16);
    
        .increase,
        .decrease {
            @include square(24);
            background: #D9D9D9;
            @include flex-center;
            @include circle;
            color: $gray-900;
            @include font($primaryFont,20,normal,normal,30);
            cursor: pointer;
        }
    
        .count {
            color: $lightred;
        }
    }

    
}


.cartlist {
    // up ul 
    @include list-vertical;
    gap: size(16);
    &:hover {
        
        .cartlist-item {
            
            @include radius(8);

           &:hover {
            background-color: $white;

            .arrow-icon {
                transform: rotate(180deg);
            }
            .cartlist-content {
                height: auto;
               
            }
           }
        }

        .cartlist-content { 
            height: 0;
			overflow: hidden;
            
        }
    }

    &-item {
        background: #FEF8F1;
        .cartlist-content {
            height: 0;
            overflow: hidden;
            transition: all .3s ease;
             padding-inline: size(16);

      
        }
    }


    // selected button list
    .selecte-list {
        @include list-horizontal;
        flex-wrap: wrap;
        gap: size(8);
        padding-bottom: size(20);

        .selected-btn {
            @include setBgColor(#FFDBD0,$gray-900);
            border: none;
            padding: size(4);
            @include radius(4);
            @include flex;
            align-items: center;
            gap: size(12);
            @include font($primaryFont,14,normal,normal,18);

            svg {
                @include square(14);
               @include hover {
                path {
                    fill: $lightred;
                }
               }
            }


        }
    } 
   

   
}

.combo-titlebox {
    @include flex-column;
    gap: size(0);
    padding-bottom: size(10);
    .title {
        color: $gray-900;
        span {
            color: $gray-600;
            font-size: size(12);
        }
    }

    .des {
        font-size: size(12);

    }
}