@use "../../global" as *;
@use "../../partials" as *;

.jobcard {
    background: $white;
    display: inline-block;
    @include radius(10);
    padding: size(25);
    box-shadow: $box-shadow-1;
    @include w100;
    @include transitionsall;

    @include breakpoint(mobile768) {
        width: auto;
    }

    @include breakpoint(tab992) {
        width: calc(100% / 3 - size(14));
    }

    &-header {
        @include flex-between;
        gap: size(40);
        @include border-single(bottom, solid, 1, $headerborder);
        padding-bottom: size(16);

        .left {
            @include flex-column;
            gap: size(12);
            align-items: baseline;

            .badge {
                background: lighten($success,50%);
                @include radius(16);
                color: $success;
                @include font($primaryFont, 12, medium, normal, 24);
                padding: size(2) size(12);

                &.badge-purple{
                    @include setBgColor($purpleLight,$purple);
                }

                &.badge-success {
                    @include setBgColor($successlight,$success);
                    
                }

                &.badge-cyan {
                    @include setBgColor($electriccyanlight,$electriccyan);
                        
                }
                &.badge-orange {
                    @include setBgColor($orangeLight,$orange);

                }

            }

            .jobname {
                color: $headingText;
                @include font($primaryFont, 16, medium, normal, 20);
                max-width: size(250);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @include breakpoint(mobile414) {
                    @include font($primaryFont, 18, medium, normal, 20);

                }

                @include breakpoint(tab992) {
                    @include font($primaryFont, 20, medium, normal, 20);
                }

            }

            .jobtypes {
                @include flex;
                align-items: center;
                gap: size(10);

                .type {
                    @include flex;
                    gap: size(6);
                    align-items: center;
                    @include font($primaryFont, 9, medium, normal, 18);
                    text-transform: uppercase;
                    color: $textSecondary;

                    @include breakpoint(mobile414) {
                       @include font($primaryFont, 11, medium, normal, 18);
                        
                    }

                    span {
                        font-size: size(9);
                    }
                }
            }
        }

        .right {
            .dropdown {

                .icon {
                    padding: size(10);
                    cursor: pointer;
                }

                &-menu {

                    padding: size(12);
                    border: size(1) solid $headerborder;
                    box-shadow: $box-shadow-1;
                    @include radius(8);

                    .dropdown-items {
                        @include flex-column;
                        align-items: flex-start;
                        .item {
                            padding: size(8) size(10);
                            @include transitionsall;
                            @include font($primaryFont, 13, normal, normal, 18);
                            @include radius(6);
                            user-select: none;
                            color: $textPrimary;
                            @include w100;
                            @include hover {
                                background: $headerborder;
                            }
                        }

                    }
                }
            }
        }
    }

    &-body {
        @include border-single(bottom,solid,1,$headerborder);
        padding-bottom: size(20);
        .applicant-header {
            @include flex;
            align-items: center;
            gap: size(7);
            color: $textSecondary;
            padding: size(14) size(0);

            span {
                @include font($primaryFont, 12, medium, normal, 17);

            }

        }

        .applicants-wrapper {
            background: $headerborder;
            @include radius(10);
            padding: size(24);
            @include flex;
            justify-content: space-around;

            .applicatn {
                @include flex-column;
                align-items: center;
                gap: size(8);

                .count {
                    @include font($primaryFont, 20, medium, normal, 26);
                    color:$headingText;
                }
                .title {
                    color: $textSecondary;
                    @include font($primaryFont, 12, medium, normal, 15);

                }
            }
        }
    }

    &-footer {
        @include flex-between;
        padding-top: size(10);
        gap: size(6);
        .footerleft {
            @include flex;
            align-items: flex-start;
            gap: size(8);
            span {
                &.text {
                    @include font($primaryFont, 14, medium, normal, 22);
                    
                }
            }
        }

        .footerright {
            cursor: pointer;
            color: $textPrimary;
            @include font($primaryFont, 14, medium, normal, 22);
            @include transitionsall;
            @include hover {
                color: darken($textPrimary,20%);
            }

        }
    }

    &.activecard {
        @include border-single(top, solid, 4, $success);

    }

    &.draftcard {
        @include border-single(top, solid, 4, $checkborder);

    }
    &.inactivecard {
        @include border-single(top, solid, 4, $danger);

        .jobcard-header {
            align-items: flex-start;
        }


    }

    &.created-card {
        @include breakpoint(tab992) {
            width: auto;
        }
    } 

    @include hover {
        transform: translateY(size(-8));
    }

}

.review__header-card {
    padding: size(16);
    background-color: $white;
    @include radius(8);
    @include flex-between;
    @include border-single(top,solid,4,$primary);
    color: $headingText;
    @include font($primaryFont, 16, medium, normal, 20);

    .count {
        height: size(20);
        width: size(30);
        @include flex-center;
        @include radius(100);
        @include setBgColor($primaryLight,$headingText);
        @include font($primaryFont, 14, medium, normal, 20);

    }
}

.review__card {
    background: $white;
    @include radius(8);
    @include border(solid,1,$headerborder);
    padding: size(10) size(10) size(14) size(10);
    @include flex-column;
    gap: size(6);
    .name {
        color: $headingText;
        @include font($primaryFont, 12, medium, normal, 20);
        text-overflow: ellipsis;
        overflow: hidden;

    }
    .gmail {
        color: $textPrimary;
        @include font($primaryFont, 12, medium, normal, 20);
        text-overflow: ellipsis;
        overflow: hidden;

    }

    .review-footer {
        @include flex-between;
        @include border-single(top,solid,1,$headerborder);
        margin-top: size(10);
        .stars {
            @include flex;
            gap: size(4);
            
           
        }
        .time {
          @include font($primaryFont, 10, medium, normal, 16);
          color: $textPrimary;

        }
    }
} 

.review__drag-card {
    @include border(dashed,2,$checkborder);
    background: $headerborder;
    padding: size(30);
    @include flex-center;
    @include radius(8);
    .content {
        @include flex-column;
        align-items: center;
        color:  hsl(218, 15%, 65%);
        gap: size(4);

    }

}

.offcanvas__info-card {
    @include radius(10);
    @include border(solid, 1, $headerborder);

    &-header {
        @include border-single(bottom, solid, 1, $headerborder);
        padding: size(14);

        .title {
            @include font($primaryFont, 16, medium, normal, 19);

        }
    }

    &-body {
        padding: size(14);

        .info-box {
            padding: size(10) size(0);
            @include flex-column;
            gap: size(8);

            .label {
                color: $textSecondary;
                @include font($primaryFont, 10, medium, normal, 16);
                text-transform: uppercase;
            }

            .text {
                color: $headingText;
                @include font($primaryFont, 14, normal, normal, 17);

            }

            .skills {
                @include flex;
                flex-wrap: wrap;
                gap: size(8);

                .skill {
                    padding: size(4) size(10);
                    @include radius(100);
                    background: #E4F7FF;
                    @include font($primaryFont, 12, medium, normal, 16);

                }
            }
        }

        .assignee-boxes {
            @include flex;
            gap: size(12);
            align-items: center;
            flex-wrap: wrap;
            .assignee-box {
                @include flex;
                gap: size(9);
                align-items: center;
                .assignee-thumb {
                    @include square(22);
                    @include circle;
                    overflow: hidden;
                    img {
                        @include wh100;
                        object-fit: cover;
                    }
                }

                span {
                @include font($primaryFont, 12, normal, normal, 16);

                }
            }
        } 

        .notes {
            @include flex-column;
            .note {
              @include border-single(bottom,solid,1,$headerborder);
              @include flex;
              gap: size(8);
              padding: size(20);
              .note-thumb {
                @include square(36);
                @include circle;
                overflow: hidden;
                img {
                    @include wh100;
                    object-fit: cover;

                }
              }
              &-info {
                @include flex-column;
                gap: size(8);
                h3 {
                @include font($primaryFont, 14, normal, normal, 16);
                color: $headingText;
                    span {
                        color: $textPrimary;
                        font-size: size(10);
                        font-weight: 400;
                    }
                }

                .des {
                    columns: $textPrimary;
                    font-size: size(10);
                }
              }

            }
        }

    }

}


.darkmode {
    .jobcard {
        background: $lightDark;

        &-header {
            border-color: $headingText;

            .left {

                .badge {
                    background: lighten($success, 50%);
                    color: $success;


                    &.badge-purple {
                        @include setBgColor($purpleLight, $purple);
                    }

                    &.badge-success {
                        @include setBgColor($successlight, $success);

                    }

                    &.badge-cyan {
                        @include setBgColor($electriccyanlight, $electriccyan);

                    }

                    &.badge-orange {
                        @include setBgColor($orangeLight, $orange);

                    }

                }

                .jobname {
                    color: $white;
                }

                .jobtypes {


                    .type {
                        color: darken($white, 20%);
                    }
                }
            }

            .right {
                .dropdown {
                    &-menu {
                        border-color: $headingText;
                        background: $lightDark;
                        box-shadow: $box-shadow-1;

                        .dropdown-items {
                            .item {
                                color: darken($white, 20%);

                                @include hover {
                                    background: $shade-1;
                                }
                            }

                        }
                    }
                }
            }
        }

        &-body {
            border-color: $headingText;
            padding-bottom: size(20);

            .applicant-header {
                @include flex;
                align-items: center;
                gap: size(7);
                color: darken($white, 20%);
                padding: size(14) size(0);

                span {
                    @include font($primaryFont, 12, medium, normal, 17);

                }

            }

            .applicants-wrapper {
                background: $headingText;

                .applicatn {
                    .count {
                        color: $white;
                    }

                    .title {
                        color: $white;
                    }
                }
            }
        }

        &-footer {
            .footerleft {
                svg {
                    path {
                        stroke: darken($white, 20%);

                    }
                }

                span {
                    &.text {
                        @include font($primaryFont, 14, medium, normal, 22);
                        color: darken($white, 20%);

                    }
                }
            }

            .footerright {
                color: darken($white, 20%);

                svg {
                    path {
                        stroke: darken($white, 20%);
                    }
                }

                @include hover {
                    color: $white;
                }

            }
        }
    }

    .review__header-card {
        background: $lightDark;
        color: $white;
    }

    .review__card {
        background: $lightDark;
        border-color: $headingText;

        .name {
            color: darken($white, 20%);

        }

        .gmail {
            color: darken($white, 20%);

        }

        .review-footer {
            border-color: $headingText;

            .stars {
                @include flex;
                gap: size(4);

                .empty {
                    svg {
                        path {
                            fill: darken($white, 20%);
                        }
                    }
                }

            }

            .time {
                color: darken($white, 30%);

            }
        }
    }

    .offcanvas__info-card {
       border-color: $headingText;
        &-header {
            border-color: $headingText;
            .title {
                color: darken($white,10%);
            }
        }
        &-body {
            .info-box {
                .label {
                    color: darken($white, 30%);
                    @include font($primaryFont, 10, medium, normal, 16);
                    text-transform: uppercase;
                }

                .text {
                    color: darken($white, 20%);
                    @include font($primaryFont, 14, normal, normal, 17);

                }

                .skills {
                    .skill {
                        background: $textgray;
                        color: darken($white,30%);

                    }
                }
            }
            .assignee-boxes {

                .assignee-box {
                    span {
                        @include font($primaryFont, 12, normal, normal, 16);
                        color: darken($white,10%);
                    }
                }
            } 
    
            .notes {
                
                .note {
                  border-color: $headingText;
                  
                  &-info {
                    h3 {
                     color: darken($white,5%);
                        span {
                            color: darken($white,0%);
                        }
                    }
    
                    .des {
                        color: darken($white,0%);
                    }
                  }
    
                }
            }
        }

    }
}

.cardintegration {
	background: $white;
	box-shadow: $box-shadow-1;
	@include border(solid, 1, $headerborder);
	@include radius(10);
	@include flex-column;
	gap: size(24);
	padding: size(20);

	@include breakpoint(tab992) {
		padding: size(16);
	}

	@include breakpoint(desktop1400) {
		padding: size(24);
	}

	.companylogo {
		max-width: size(140);
		height: size(32);
		@include flex-center;
		overflow: hidden;

		img {
			max-width: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	.info {
		&-text {
			color: $textPrimary;
			font-size: size(12);
			font-weight: 400;
		}
	}

	.linkinfo {
		.btn-link,
		.btn-coming {
			@include radius(8);
			@include flex-center;
			font-size: size(12);
			font-weight: 600;
			padding: size(12) size(20);
			text-align: center;
			text-decoration: none;
			@include transitionsall;
		}

		.btn-link {
			max-width: size(110);
			@include setBgColor($primary, $white);

			@include hover {
				@include setBgColor(darken($primary, 10%), $white);
			}
		}

		.btn-coming {
			max-width: size(120);
			@include setBgColor($checkborder, $white);

			@include hover {
				@include setBgColor(darken($checkborder, 10%), $white);
				cursor: default;
			}
		}
	}
}

.cardtemplate {
	background: $white;
	box-shadow: $box-shadow-1;
	@include border(solid, 1, $headerborder);
	@include radius(10);
	padding: size(24);

	.template-thumbnail {
		@include radius(10);
		position: relative;
		@include w100;
		height: size(200);
		@include flex-center;
		overflow: hidden;		

		&::before {
			content: '';
			@include wh100;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba($black, .25);
			z-index: 10;
		}

		img {
			@include wh100;
			object-fit: cover;
		}

		.viewinfo {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
			z-index: 100;
			opacity: 0;
			visibility: hidden;
			@include transitionsall;

			.btn-view {
				background: rgba($white, .7);
				@include square(48);
				@include circle;
				@include flex-center;
				overflow: hidden;

				@include hover {
					background: $white;

					svg {
						path {
							fill: $primary;
						}
					}
				}
			}
		}

		.customcheckbox {
			position: absolute;
			top: size(12);
			left: size(12);
			z-index: 100;
	
			.checkinput {
				&:checked ~ .checklabel {
					&::before {
						background: $primary;
						border-color: $primary;
					}
	
					&::after {
						opacity: 1;
						visibility: visible;
					}
				}
			}
	
			.checklabel {
				cursor: pointer;
				position: relative;
			
				&::before,
				&::after {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
				}
				
				&::before {
					@include square(20);
					@include border(solid, 1, $checkborder);
					background: $white;
					@include circle;
					@include translateY(-45%);
					@include transitiontransform;
				}
				
				&::after {
					width: size(5);
					height: size(10);
					@include border(solid, 2, $white);
					@include transform(translateY(-50%) rotate(45deg));
					border-top: 0;
					border-left: 0;
					left: size(7.5);
					opacity: 0;
					visibility: hidden;
					@include transitiontransform;
				}
			}
		}
	}

	@include hover {
		.template-thumbnail {	
			.viewinfo {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}


