@use "../../global" as *;
@use "../../partials" as *;

.product-card {
    height: size(304);
    overflow: hidden;
   
    padding: size(16) ;

    background: $white;
    @include radius(8);
    box-shadow: $box-shadow-1;
    @include flex-column;
    gap: size(8);

    @include transitionsall;
    
    &-top {
        @include flex-column;
        gap: size(8);
        text-align: center;
        min-height: size(304);
    
      

    }

    &-bottom {
        @include flex-column;
        gap: size(8);
        align-items: center;
    }

    @include hover {
    max-height:max-content;
    @include transitionsall;

    } 

    .product-thumb {
        height: size(166);
        @include w100;
        @include radius(8);
        overflow: hidden;

        img {
            @include wh100;
        }

    }

    .product-title {
        color: $gray-700;
        @include font($primaryFont,16,medium,normal,20);
        @include line-clamp;

    } 
    .price-from {
        color: $gray-600;
        @include font($primaryFont,14,normal,normal,20);

        .price {
         color: $gray-900;
         @include font($primaryFont,16,medium,normal,20);

        }
    }

    .description {
        color: $gray-600;
         @include font($primaryFont,14,medium,normal,18);
         @include line-clamp-3;
         text-align: center;



    }

    .radios {
        padding-block: size(8);
        @include flex;
        align-items: center;
        gap: size(8);
        flex-wrap: wrap;
    }
}

  /* the slides */
  .slick-slide {
    margin: 0 10px;
}

/* the parent */
.slick-list {
 
} 
.categories {
 
}

.card-category{
    @include square(113);

    background: $white;
    padding: size(12);
    @include radius(8);
    font-size: 18px !important;

    .title {
        font-size: 12px;
    }
    .item {
        font-size: 10px;
    }
}
