@use "../../global" as *;
@use "../../partials" as *;

.product-card {
    height: size(304);
    overflow: hidden;
   
    padding: size(16) ;

    background: $white;
    @include radius(8);
    box-shadow: $box-shadow-1;
    @include flex-column;
    gap: size(8);

    @include transitionsall;
    
    &-top {
        @include flex-column;
        gap: size(8);
        text-align: center;
        min-height: size(304);
        padding-bottom: size(20);
    
      

    }

    &-bottom {
        @include flex-column;
        gap: size(8);
        align-items: center;
    }

    @include hover {
    max-height:max-content;
    @include transitionsall;
    .product-thumb {
        
        transform: scale(1.05);
        img {
            @include wh100;
        }

    }
    } 

    .product-thumb {
        height: size(166);
        @include w100;
        @include radius(8);
        overflow: hidden;
        @include transitiontransform;

        img {
            @include wh100;
        }

    }

    .product-title {
        color: $gray-700;
        @include font($primaryFont,16,medium,normal,20);
        @include line-clamp;

    } 
    .price-from {
        color: $gray-600;
        @include font($primaryFont,14,normal,normal,20);

        .price {
         color: $gray-900;
         @include font($primaryFont,16,medium,normal,20);

        }
    }

    .description {
        color: $gray-600;
         @include font($primaryFont,14,medium,normal,18);
         @include line-clamp-3;
         text-align: center;
       



    }

    .radios {
        padding-block: size(8);
        @include flex;
        align-items: center;
        gap: size(8);
        flex-wrap: wrap;
    }
}

  /* the slides */
  .slick-slide {
    margin: 0 10px;
}




.card-category{
    @include square(113);

    background: $white;
    padding: size(12);
    @include radius(8);
    @include flex-column;
    display: flex !important;
    gap: size(8) !important;
    

    .title {
         color: $gray-700;
         @include font($primaryFont,14,medium,normal,18);
    }
    .item {
       color: $gray-900;
        @include font($primaryFont,16,medium,normal,20);

    }

    &.active {
        background: $primary;
        box-shadow: 0px 12px 16px #FAEAC9;

        svg {
            path {
                fill:$white;
            }
        }
    }
}
.selected-pizza {
    margin-top: size(8);
    @include flex-between;
    align-items: center;
    background: $white;
    @include radius(8);
    padding: size(8);
    margin-bottom: size(20);
    margin-right: size(20);

    .pizza-thumb {
        height: size(80);
        width: size(106);
        overflow: hidden;
        @include radius(4);
        img {
            @include wh100;
            object-fit: cover;
        }
    }

    .left {
        @include flex;
        gap: size(20);
        text-align: left;
    }

    .pizza-info {
        @include flex-column;
        gap: size(8);
        max-width: size(200);
        .title {
            color: $gray-700;
            @include font($primaryFont,16,medium,normal,20);
        }

        .des {
            color: $gray-600;
            @include font($primaryFont,14,normal,normal,20);
            @include line-clamp-3;
        }
    }

    .right {
        svg {
            path {
                @include transitionsall;
            }
            @include hover {
                path {
                    fill: $lightred;
                }
            }
        }
    }

}


.select-card {
    @include flex-column;
    gap: size(8);
    background: $white;
    @include radius(8);
    padding: size(16);
    text-align: center;

    .combo-thumb {
        width: 100%;
        height: size(160);
        @include radius(8);
        overflow: hidden;
        height: size(280);
        @include breakpoint(mobile576) {
            height: size(160);
        }
        @include hover {
            img {
                transform: scale(1.1)
            }
        }

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;
        }
    }

    .title {
        color: $gray-700;
        @include font($primaryFont,16,medium,normal,20);
    }
    .des {
        color: $gray-600;
        @include font($primaryFont,14,normal,normal,20);
        @include line-clamp-3;
    }

}