@use "../../global"as *;
@use "../../partials"as *;

.modal {


  &-header {
    border-bottom: 0;

    .btn-close {
      @include square(24);
      @include flex-center;
      overflow: hidden;
      opacity: 1;

      svg {
        @include wh100;
        @include transitiontransform;
      }

      @include hover {
        svg {
          @include rotate(90);

          path {
            // stroke: $danger;
          }
        }
      }
    }
  } 

  &.checkout-modal {
    .modal-body {
      @include flex-column;
      align-items: center;
      @include w100;
    }

    .delivery-address {
      @include w100;
      @include flex-column;
      gap: size(18);
     
      &-header {
        color: $gray-900;
        @include font($primaryFont,20,medium,normal,24);
       
      }

      &-body {
        .locationlist {
          @include list-vertical;
          gap: size(12);

         &-item {
          .customradio {
            @include w100;
            padding: size(16);
          }
         
         
          @include border(solid,1,$gray-300);
          
          @include radius(6);
          
  
          .left {
              @include flex;
              align-items: center;
              gap: size(16);
              padding-left: size(10);
  
              .icon-wrapper {
                  @include square(36);
                  @include flex-center;
                  @include circle;
              }

              .address-title {
                @include flex-column;
                gap: size(4);
                .title {
                  color: $gray-900;
                  @include font($primaryFont,16,semibold,normal,24);
                }
                .address {
                  color: $gray-600;
                  @include font($primaryFont,16,normal,normal,14);

                }
              }
          } 

          .customradio-label {
            @include flex;
            align-items: center;
            justify-content: space-between; 
          }

         }

        }
      }
    }

    .payment-methods {
      @include flex-column;
      gap: size(18);
      @include w100;
     
      &-header {
        color: $gray-900;
        @include font($primaryFont,20,medium,normal,24);
       
      }
      &-body {
        .payment-method {
          @include flex;
          gap: size(16);
          flex-wrap: wrap;
        }
      }
    } 
    .checkout-card {
      background-color: $cartBg;
      @include radius(8);
      padding: size(16);
      @include flex-column;
      gap: size(10);
      @include w100;
      .total {
          @include flex-between;
          align-items: center;
          color: $gray-900;
          @include font($primaryFont,20,normal,normal,24);
          
      }

    }
  
  }

  &.select-pizza { 
    .modal-content {
      border: none;
      background: $bodybg;
    } 
    .modal-body {
      overflow-y: auto;
      max-height:auto;
      height: auto;
      min-height: size(500);
      &::-webkit-scrollbar {
        width: size(8);
    }

    &::-webkit-scrollbar-thumb {
        background:$gray-300;
      @include radius(100);
    }
    }
    .modal-header .close {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: -3rem;
      margin-top: -0rem;
      background-color: white;
      border-radius: 50%;
      width:20px ;
      height: 20px;
    }

    .image-container {
      position: relative;
      height:size(240);
      @include radius(8);
      overflow: hidden;
      margin-bottom: size(30);
      img {
        @include wh100;
        object-fit: cover;
        position: absolute;
        object-fit: cover;
        z-index: 1;
        top: 0;
        left: 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 94.27%);
        z-index: 2;
      }

      .text {
        position: absolute;
        @include w100;
        z-index: 2;
        padding: size(13);
        bottom: 0;
        @include flex;
        justify-content: space-between;
        color: white !important;
        align-items: flex-end;
        .left {
          @include flex-column;
          gap: size(8);
        }

        .title {
          color: $white;
          @include font($primaryFont,18,medium,normal,24);

        }
        .content {
          color: $white;
          @include font($primaryFont,14,normal,normal,18);
        }
        .price {
          color: $white;
          @include font($primaryFont,18,medium,normal,18);
        }
      }
    }
    
   .customization-box {
    @include flex-column;
    gap: size(18);
    @include breakpoint(mobile576) {
      gap: size(24);
    }
    .title {
      color: $gray-900;
      @include font($primaryFont,16,medium,normal,24);
    }
    .content  {
      @include flex-column;
      gap: size(18);
    }

    .single-row {
      @include flex-between;
      align-items: center;
      padding-right: size(60);
      span {
        color: $gray-600;
      }
    }
   }

   .notebox {
    @include flex-column;
    gap: size(16);
    .note-title {
      color: $gray-900;
      @include font($primaryFont,16,medium,normal,24);
    }
    textarea {
        height: size(110);
        @include border(solid,1,$gray-300);
        @include radius(4);
        padding: size(10);
        vertical-align: top;

    }
   }

   .modal-footer {
    border: none;
    background: $bodybg;
    .footer-box {
      background: $cartBg;
      @include flex-between;
      padding: size(16);
      flex-wrap: wrap;
      @include radius(8);

      @include breakpoint(mobile576) {
         flex-wrap: nowrap;
      }
    }
    margin: 0;
   
    .right {
      @include flex-column;
      align-items: flex-end;
      @include w100;
      gap: size(12);
    }
    .price {
      color: $gray-700;
      font-weight: 500;
    }
    
   }
   .customcheck-label {
    color: #4E5D78;
    @include font($primaryFont,14,normal,normal,24);
   }
  .customcheck-label::before {
    border-color: #C9CED6;
  }
    
 
    
    
    @media (max-width: 575.98px) {
      .modal-lg {
        max-width: 90%;
        margin:0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    @media (max-width: 575.98px) {
      .modal-header .close {
        margin-right: -1rem;
      margin-top: -0rem;
      z-index: 5;
    
      }
    }
  }



}




