@use "../global" as *;
@use "../partials" as *;

.authentications {
  background: $checkborder;
  @include flex;
  width: 100%;
  min-height: 100vh;

  .left-content {
    display: none;

    @include breakpoint(tab992) {
      width: 50%;
      @include flex-center;
      overflow: hidden;
    }

    @include breakpoint(desktop1100) {
      width: 58%;
    }

    .sliderbox {
      max-width: 80%;
      height: size(340);
      @include radius(10);
      margin: auto;
      position: relative;
      overflow: hidden;

      @include breakpoint(desktop1100) {
        max-width: size(514);
      }

      .authSlider {
        @include wh100;
        height: size(305);
        @include radius(10);
        overflow: hidden;

        .swiper-slide {
          @include flex-center;
          position: relative;
          z-index: 2;
          overflow: hidden;

          img {
            @include wh100;
          }
        }
      }

      .swiper-pagination {
        @include flex-center;
        gap: size(8);

        &-bullet {
          @include square(10);
          background: $textSecondary;
          margin: 0;
          opacity: 1;

          &:hover:not(.active) {
            background: $headingText;
          }

          &-active {
            background: $headingText;
          }
        }
      }
    }
  }

  .right-content {
    background: $white;
    @include flex-column;
    gap: size(48);
    padding: size(16);
    position: relative;
    z-index: 2;
    @include w100;
    overflow: hidden;

    @include breakpoint(mobile576) {
      padding: size(20);
    }

    @include breakpoint(mobile768) {
      padding: size(24);
      gap: size(64);
    }

    @include breakpoint(tab992) {
      width: 50%;
      gap: size(80);
    }

    @include breakpoint(desktop1100) {
      width: 42%;
      padding: size(40);
    }

    .authenticationheader {
      .logo {
        width: size(125);
        height: size(36);
        @include flex-center;
        overflow: hidden;

        img {
          @include wh100;
          object-fit: cover;
        }
      }
    }

    .authentic {
      background: $white;
      @include border(solid, 1, $headerborder);
      @include radius(10);
      @include w100;
      padding: size(24);
      margin: auto;

      @include breakpoint(mobile576) {
        width: 60%;
        margin: 0 auto;
      }

      @include breakpoint(mobile768) {
        width: size(500);
        padding: size(32);
      }

      @include breakpoint(tab992) {
        width: 80%;
      }

      @include breakpoint(desktop1400) {
        width: size(500);
        padding: size(48);
      }

      .welcome-title {
        color: $headingText;
        font-weight: 600;
        letter-spacing: size(-0.69);
        text-align: center;
        margin-bottom: size(24);

        @include breakpoint(mobile768) {
          margin-bottom: size(32);
        }

        @include breakpoint(tab992) {
          margin-bottom: size(40);
        }
      }

      .welcome-text {
        color: $textSecondary;
        font-size: size(13);
        text-align: center;
        margin-bottom: size(24);

        @include breakpoint(mobile768) {
          margin-bottom: size(32);
        }

        @include breakpoint(tab992) {
          margin-bottom: size(40);
        }
      }

      .forgotinfo {
        @include flex-center-column;
        margin-bottom: size(24);
        text-align: center;

        @include breakpoint(tab992) {
          margin-bottom: size(40);
        }

        .text {
          color: $textPrimary;
          @include font($primaryFont, 12, normal, normal, 24);
          letter-spacing: size(0.01);
        }
      }

      .socialauth {
        margin-bottom: size(24);

        @include breakpoint(mobile768) {
          margin-bottom: size(32);
        }

        .btn-socialauth {
          background: $white;
          @include border(solid, 1, $headerborder);
          @include radius(130);
          @include flex-center;
          gap: size(8);
          padding: size(12);
          @include w100;

          .icon {
            @include square(24);
            @include flex-center;
            overflow: hidden;

            svg {
              @include wh100;
            }
          }

          .text {
            color: $headingText;
            @include font($primaryFont, 14, medium, normal, 24);
            letter-spacing: size(-0.09);
          }
        }
      }

      .divide {
        @include w100;
        margin-bottom: size(24);
        @include flex-center;
        gap: size(8);

        .or {
          width: size(40);
          background: $white;
          @include flex-center;
          text-align: center;

          .ortitle {
            color: $textSecondary;
            @include font($primaryFont, 12, normal, normal, 24);
          }
        }

        .bar {
          background: $headerborder;
          width: calc((100% / 2) - size(16));
          height: size(1);
        }
      }
    }
  }

  .topicon,
  .bottomicon {
    @include flex-center;
    position: absolute;
    overflow: hidden;
    z-index: -1;
  }

  .topicon {
    top: 0;
    right: size(-20);

    @include breakpoint(desktop1400) {
      right: 0;
    }

    svg {
      @include wh100;
    }
  }

  .bottomicon {
    bottom: 0;
    left: size(-20);

    @include breakpoint(desktop1400) {
      left: 0;
    }
  }
}
