@use "../global" as *;
@use "../partials" as *;

.dashboard-calendar {
  padding-bottom: size(48);

  .fc-media-screen {
    .fc-header-toolbar {
      background: $white;
      @include border-single(bottom, solid, 1, $headerborder);
      justify-content: flex-start;
      gap: size(20);
      padding: size(16) size(16) size(0);
    
      .fc-toolbar-chunk {
        &:first-child {
          .fc-button-group {
            gap: size(5);
            padding-left: size(16);
    
            button {
              @include square(34);
              border: 0;
              @include circle;
              @include flex-center;
              background: $headerborder;
    
              span {
                color: $textPrimary;
              }
    
              &:focus {
                outline: none;
                box-shadow: none;
              }
            }
          }
        }
    
        .fc-toolbar-title {
          color: $headingText;
          font-size: size(16);
          font-weight: 500;
        }
    
        &:last-child {
          margin-left: auto;

          .fc-button-group {    
            gap: size(4);

            button {
              border: 0;
              @include radius(0);
              @include border-single(bottom, solid, 3, transparent);
              @include setBgColor($white, $textSecondary);
              font-size: size(16);
              font-weight: 500;
              @include flex-center;
              height: size(48);
              padding: size(8) size(16);
              @include transitionsall;

              &:hover:not(.fc-button-active):not(.fc-addtask-button) {
                border-color: $primary;
                color: $headingText;
              }

              &.fc-button-active {
                border-color: $primary;
                color: $headingText;
              }

              &.fc-addtask-button {
                @include border(solid, 1, $checkborder);
                @include radius(8);
                height: size(40);
                font-size: size(15);
                margin-left: size(16);
                margin-top: size(-4);

                @include setBgColor($white, $textPrimary);
                @include hover {
                  @include setBgColor($textPrimary, $white);
                  border-color: $textPrimary;
                }
              }
    
              &:focus {
                outline: none;
                box-shadow: none;
              }
            }
          }
        }

        &:nth-child(1),
        &:nth-child(2) {
          margin-top: size(-14);
        }
      }
    }
    
    .fc-view-harness {
      .fc-timegrid-event-harness-inset .fc-timegrid-event {
        background: $white;
        border: 0;
        @include border-single(left, solid, 3, $borderleft);
        @include radius(4);
        box-shadow: $box-shadow-1;
        padding: size(2) size(8);

        .fc-event-title {
          color: $black;
          font-size: size(14);
          font-weight: 500;
        }

        .fc-event-time {
          color: $textPrimary;
          font-size: size(12);
          font-weight: 500;
        }
      }

      .fc-event-draggable {
        background: $blue;
        box-shadow: $box-shadow-1;

        .fc-daygrid-event-dot {
          border-color: $white;
          box-shadow: $box-shadow-1;
        }

        .fc-event-time,
        .fc-event-title {
          color: $white;
        }
      }

      .fc-col-header-cell-cushion {
        color: $headingText;
        font-weight: 600;

        @include hover {
          text-decoration: none;
        }
      }

      .fc-popover {
        background: #eee;
        box-shadow: $box-shadow-1;
        border: 0;
        @include radius(4);
        
        .fc-popover-header {
          background: $white;
          padding: size(8) size(8);

          .fc-popover-title {
            color: $black;
            font-size: size(12);
          }
        }

        .fc-popover-body {
          .fc-daygrid-event-harness {

            .fc-daygrid-event-dot {
              border-color: $blue;
            }

            .fc-event-draggable {
              background: $white;
              box-shadow: $box-shadow-1;
              border: 0;
              @include border-single(left, solid, 3, transparent);
              @include radius(4);
              // padding-left: size(4);

              .fc-event-time,
              .fc-event-title {
                color: $black;
              }
            }

            &:nth-child(1) {
              .fc-event-draggable {
                border-color: $yellowcolor;
              }
            }

            &:nth-child(2) {
              .fc-event-draggable {
                border-color: $blue;
              }
            }
            
            &:nth-child(3) {
              .fc-event-draggable {
                border-color: $violatecolor;
              }
            }
            
            &:nth-child(4) {
              .fc-event-draggable {
                border-color: $lightgreencolor;
              }
            }
            
            &:nth-child(5) {
              .fc-event-draggable {
                border-color: $orange;
              }
            }
            
            &:nth-child(6) {
              .fc-event-draggable {
                border-color: $electriccyan;
              }
            }
          }
        }
      }
    }
  }

  .fc-listDay-view {
    .fc-list-table {
      tbody {

        .fc-list-day-text {
          color: $primary;
          font-size: size(20);
          font-weight: 600;

          @include hover {
            text-decoration: none;
          }
        }

        .fc-event {
          .fc-list-event-time {
            color: $textPrimary;
            font-size: size(14);
            font-weight: 500;
          }

          .fc-list-event-dot {
            border-color: $yellowcolor !important;
            box-shadow: $box-shadow-1;
          }

          .fc-list-event-title {
            color: $headingText;
            font-size: size(14);
            font-weight: 500;
          }
        }
      }
    }
  }

  .fc-multiMonthYear-view {
    border: 0;
    gap: size(14);

    .fc-multimonth-month {
      // background: transparent;
      background: $white;
      box-shadow: $box-shadow-1;
      width: 49% !important;
      margin: auto;

      .fc-multimonth-header {
        background: $white;

        .fc-multimonth-title {
          color: $textPrimary;
          font-size: size(14);
          font-weight: 600;
        }

        .fc-multimonth-header-table {
          thead {
            th {
              border: 0;

              .fc-col-header-cell-cushion {
                color: $headingText;
                font-size: size(12);
                font-weight: 600;
                text-align: center;

                @include hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }

      .fc-daygrid-day-frame {
        @include flex-center-column;
        text-align: center;

        .fc-daygrid-day-top {
          .fc-daygrid-day-number {
            color: $headingText;
            font-size: size(12);
            font-weight: 500;

            @include hover {
              text-decoration: none;
            }
          }
        }
      }

      .fc-multimonth-daygrid-table {
        tr {
          td {
            border: 0;
            background: transparent;
          }
        } 
      }
    }
  }

  .fc-daygrid-day,
  .fc-timegrid-slot {
    background: $white !important;
  }

  table {
    thead {
      th {
        background: $white;
      }
    }

    tbody {
      td {
        background: $white;
      }
    }
  }
}

.taskmodal {

  .modal-content {
    padding: size(16);
    
    @include breakpoint(mobile768) {
      padding: size(20);
    }
    
    @include breakpoint(tab992) {
      padding: size(24);
    }
  }

  .modal-header {
    padding: 0 0 size(16);
    @include border-single(bottom, solid, 1, $headerborder);

    .modal-title {
      font-size: size(16);
      font-weight: 500;
      color: $headingText;
    }

    .btn-close {
      padding: 0;
    }
  }

  .modal-body {
    .addtasks {
      @include flex-column;
      gap: size(16);

      .tasklabel {
        color: $headingText;
        font-size: size(14);
        font-weight: 400;
        text-align: left;
      }

      .taskfield {
        @include setBgColor($bodybg, $headingText);
        @include border(solid, 1, $headerborder);
        @include radius(8);
        font-size: size(14);
        font-weight: 400;
        @include w100;
        padding: size(12.5) size(16);
        @include transitionsall;

        &:focus {
          border-color: $primary;
          background: transparent;
        }
      }

      .nice-select {
        @include setBgColor($bodybg, $headingText);
        @include border(solid, 1, $headerborder);
        @include radius(8);
        padding: size(12.5) size(16);
        height: size(44);
        @include transitionsall;

        .current {
          font-size: size(14);
          font-weight: 400;
        }

        .nice-select-dropdown {
          .list {
            .option {
              font-size: size(12);
              font-weight: 400;
            }
          }
        }

        &:focus {
          border-color: $primary;
          background: transparent;
        }

        &::after {
          transform: rotate(0) translateY(40%) !important;
        }

        &.open {
          &::after {
            transform: rotateX(180deg) !important;
          }
        }
      }

      .btnlink {
        color: $primary;
        font-size: size(14);
        font-weight: 400;
        display: inline-block;
        @include w100;
        @include transitionscolor;

        @include hover {
          color: $blue;
        }
      }
    }
  }

  .modal-footer {
    border-color: $headerborder;
    @include flex-end;
    gap: size(10);

    .btn-discard,
    .btn-save {
      @include border(solid, 1, transparent);
      @include radius(8);
      font-size: size(12);
      font-weight: 600;
      min-width: size(101);
      height: size(36);
      @include flex-center; 
      text-align: center;
      @include transitionsall;
    }

    .btn-discard {
      @include setBgColor($white, $textPrimary);
      border-color: $headerborder;

      @include hover {
        @include setBgColor($textPrimary, $white);
        border-color: $textPrimary;
      }
    }

    .btn-save {
      @include setBgColor($success, $white);
      border-color: $success;

      @include hover {
        @include setBgColor($white, $success);
        border-color: $success;
      }
    }
  }
}