@use "../global" as *;
@use "../partials/" as *;

.succesfully-created {
    @include flex-center;
    min-height: calc(100vh - size(370) );

    .created-wrapper {
    
        @include flex-center;
        flex-direction: column;
        gap: size(10);
        padding: size(10);
        @include breakpoint(tab992) {
            padding: size(20);
        }

        .created-title {
           text-align: center;
            @include font($primaryFont,20,medium,normal,24);
        }
        .created-text {
            text-align: center;
            padding-inline: size(30);
        }
        .jobcard {
            &-content {
                @include border(solid,1,$headerborder);
                @include single-radius(top,left,10);
                @include single-radius(top,right,10);
                .jobcard-thumb {
                    @include w100;
                    overflow: hidden;
                    margin-bottom: size(20);
                    img {
                        @include wh100;
                        object-fit: cover;

                    }
                }
                .jobtitle {
                  @include font($primaryFont,20,medium,normal,24);
                  color: $headingText;
                  text-align: center;
                    
                }
                .jobdescription {
                    @include flex;
                    justify-content:center;
                    gap: size(10);
                    padding: size(20) size(0); 
                    div {
                        @include flex;
                        gap: size(6);
                       @include font($primaryFont,11,medium,normal,14);

                    }
                }
            }

            &-footer {
                display: none;
                @include flex-between;
                margin-top: size(20);

                .viewsite-btn {
                    @include setBgColor($primary,$white);
                    @include radius(10);
                    padding: size(10) size(10);
                    @include transitionsall;
                    @include border(solid,1,$primary);
                    @include font($primaryFont,12,medium,normal,16);
                    @include breakpoint(mobile414) {
                        padding: size(12) size(20);
                    }
                    @include hover {
                        @include setBgColor(transparent,$textPrimary);
                    }
                }

                .sharepromote-btn {
                   
                    @include radius(10);
                    padding: size(10) size(10);
                    @include border(solid,1,$primary);
                    @include transitionsall;
                    @include font($primaryFont,12,medium,normal,16);
                    @include breakpoint(mobile414) {
                        padding: size(12) size(20);
                    }
 
                    @include hover {
                        @include setBgColor($primary,$white);
                    }
                }
            }
        } 
        
    }
    
} 
.darkmode {

    .succesfully-created {

        .created-wrapper {
        
            .created-title {
               text-align: center;
                @include font($primaryFont,20,medium,normal,24);
                color: $white;
            }
            .created-text {
                text-align: center;
                padding-inline: size(30);
                color: darken(white,10%);

            }
            .jobcard {
                &-content {
                    border-color: $textPrimary;
                    .jobcard-thumb {
                     
                        img {
                           
    
                        }
                    }
                    .jobtitle {
                      @include font($primaryFont,20,medium,normal,24);
                      color: $white;
                      text-align: center;
                        
                    }
                    .jobdescription {
                        @include flex;
                        justify-content:center;
                        gap: size(10);
                        padding: size(20) size(0); 
                        color: darken(white,10%);
                        svg {
                            path {
                                fill: darken(white,10%);

                            }
                        }
                        div {
                            @include flex;
                            gap: size(6);
                           @include font($primaryFont,11,medium,normal,14);
                          
    
                        }
                    }
                }
    
                &-footer {
                    display: none;
                    @include flex-between;
                    margin-top: size(20);
                    .viewsite-btn {
                        @include setBgColor($primary,$white);
                        @include radius(10);
                        padding: size(10) size(10);
                        @include transitionsall;
                        @include border(solid,1,$primary);
                        @include font($primaryFont,12,medium,normal,20);
                        @include breakpoint(mobile414) {
                            padding: size(12) size(20);
                        }
                        @include hover {
                            @include setBgColor(transparent,$white);
                        }
                    }
                    .sharepromote-btn {
                       
                        @include radius(10);
                        padding: size(10) size(10);
                        @include border(solid,1,$primary);
                        @include transitionsall;
                        @include font($primaryFont,12,medium,normal,20);
                        color: $white;
                        @include breakpoint(mobile414) {
                            padding: size(12) size(20);
                        }
     
                        @include hover {
                            @include setBgColor($primary,$white);
                        }
                    }
                }
            } 
            
        }
        
    } 

}