@use "../global" as *;
@use "../partials" as *;

/**======= HOME-BANNER =======**/

.dashboard {
    padding: size(14) size(14) size(40) size(14);

    @include breakpoint(mobile576) {
        padding: size(24) size(20) size(40) size(24);
    }


    &-header {
        @include flex-center-between;
        padding-bottom: size(20);

        .dashboard-title {
            color: $headingText;
            @include font($primaryFont, 24, medium, normal, 30);

            @include breakpoint(mobile768) {
                @include font($primaryFont, 32, medium, normal, 30);
            }
        }
    }
    &-body {

        .pipeline {
            background: $white;
            @include radius(10);
            box-shadow: $box-shadow-1;
            @include h100;
            max-height: size(480);
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: size(12);
                display: none;
            }
            &::-webkit-scrollbar-track {
                background: $checkborder; 
                @include radius(10);
            }
            &::-webkit-scrollbar-thumb {
                background-color: $white;
                @include border(solid,4,transparent);
                border-radius: size(10);
                background-clip: content-box;
            }

            &-header {
                @include flex-center-between;
                @include border-single(bottom,solid,1,$headerborder);
                padding: size(14);
                min-height: size(80);
                @include breakpoint(mobile576) {
                    padding: size(18);
                }

                .left-content {
                    @include flex;
                    gap: size(10);
                    flex-wrap: wrap;
                    @include font($primaryFont,18,medium,normal,24);
                    @include breakpoint(mobile576) {
                        gap: size(20);
                    } 

                    .title {
                        color: $headingText;
                        @include font($primaryFont,18,medium,normal,24);
                        @include breakpoint(mobile576) {
                        @include font($primaryFont,22,medium,normal,27);

                        }
                    } 
                    .nice-select {
                        width: auto;
                        min-width: size(120);
                        @include font($primaryFont,12,medium,normal,36);
                        
                    }
                }
                .right-content {
                    .viwe-link {
                        color: $primary;
                        @include font($primaryFont,12,normal,normal,20); 
                        @include breakpoint(mobile576) {
                        @include font($primaryFont,14,normal,normal,20); 
                            @include hover {
                                 color: darken($primary,20%);
                                 text-decoration:underline;
                            }
                        }


                    }
                }
            }
            &-body {
             position: relative;
             padding: size(12) size(24);
               
               
            } 
        }

        .summery {
            .pipeline-body {
                @include flex-center;
                min-height: calc(100% - size(80));
            }
            .summery-wrapper {
                figure {
                    @include square(280);
                    img {
                        @include wh100;
                        object-fit: contain;
                    }
                }
            }
        }

        .mytask {
            .tasklist {
                @include list-vertical;
                gap: size(4);
                
                &-item {
                    
                    @include radius(10);
                    
                }
                &-link {
                    @include flex-between;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border-bottom: 1px solid $headerborder;
                    @include border-single(bottom,solid,1,$headerborder);
                    @include border-single(top,solid,1,$headerborder);
                    @include border-single(right,solid,1,$headerborder);
                    @include border-single(left,solid,10,#FFD831);
                    @include radius(10);
                    padding: size(6) size(8);

                    @include breakpoint(mobile576) {
                    padding: size(10) size(16);

                    }

                    .left {
                        @include flex-between;
                        gap: size(8);
                        @include breakpoint(mobile576) {
                            gap: size(18);
                        }
                        span {
                        @include font($primaryFont,10,normal,normal,14);
                        color: $textPrimary;
                        @include breakpoint(mobile414) {
                            @include font($primaryFont,12,normal,normal,14);

                        }
                

                            
                        }
                        .time {
                          @include flex;
                          align-items: center;
                          gap: size(12);
                    
                        }
                        .gap {
                            height: size(30);
                            width:size(1);
                            background: $headerborder;
                            display: inline-block;
                        }
                        .description {

                        }
                    }
                    
                }
            }
        }

        .employee {
            .employeelist {
                @include list-vertical;
                gap: size(6);

                &-item {
                    background: $bodybg;
                    @include radius(10);
                }

                &-link {
                    @include flex-between;
                    align-items: center;
                    padding: size(8);
                    @include breakpoint(mobile576) {
                        padding: size(16);
                    }
                    color: $headingText;
                    .left {
                        @include flex-column;
                        gap: size(2);
                        .title {
                            color: $headingText ;
                            @include font($primaryFont,14,medium,normal,17);
                        }
                        .total {
                            color: $textPrimary;
                            span {
                            @include font($primaryFont,12,normal,normal,15);

                            }
                        }
                    }

                    .right {
                        $avatar-size: size(40);
                        .avatar {
                            width: $avatar-size;
                            height: $avatar-size;
                            overflow: hidden;
                            border-radius: 50%;
                            position: relative;
                            background-color: #2c303a;
                            border: size(2) solid $white;
                            
                            img {
                              object-fit: cover;
                             @include wh100;
                            }
                          }
                          
                          .avatar-group {
                            @include flex;
                            
                            &.rtl {
                                direction: rtl;
                              
                              .avatar:hover:not(:last-of-type) {
                                transform: translate(size(10));
                              }
                            }
                            
                            .avatar {
                              margin-left: size(-14);
                              transition: transform 0.3s ease;
                              cursor: pointer;
                              
                              &:hover:not(:last-of-type) {
                                 transform: translate(size(-10));
                              }
                            }
                            
                            .hidden-avatars {
                              width: $avatar-size;
                              height: $avatar-size;
                              border-radius: 50%;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              margin-left: size(3);
                              
                              background-color: #2c303a;
                              color: #fff;
                              @include font($primaryFont,10,normal,normal,15);

                            }
                          }
                    }
                }
            }
        }

        
    }
} 
.darkmode { 
    .dashboard {
        &-header {
            .dashboard-title {
                color: $white;
                @include font($primaryFont,24,medium,normal,30);
            }
        }

        &-body {

            .pipeline {
                background:#1e202a;
                &-header {
                border-color: $headingText;

                }
                .left-content {
                    .title { 
                        color: $white;
                    }
                }
                .pipeline-table {
                   table {
                    td {
                        color: rgba(255, 255, 255,.6);
                        .pipeline-empty {
                            background: $darkPrimary;
                            color: #555; 
                            &.one {
                                background: #eee3e7;
                              }
                              &.two {
                                background: #ead5dc;
                              }
                              &.three {
                                background:#eec9d2;
                              }
                              &.four {
                                background:#f4b6c2;
                              }
                              &.five {
                                background:#f6abb6;
                              }
                        }
                       
                    }
                    .headcol  {
                        color: rgba(255, 255, 255,.6);
                        .title {
                        color: rgba(255, 255, 255,.8);
    
                        }
                        .total {
                           color: rgba(255, 255, 255,.6);

                        }
                       }
                   }
                   
                }
            }
            .mytask {
                .tasklist {
                
                    &-link {

                        
                        @include border-single(bottom,solid,1,$headingText);
                        @include border-single(top,solid,1,$headingText);
                        @include border-single(right,solid,1,$headingText);
                        @include border-single(left,solid,10,#FFD831);
    
                        .left {
                            
                            
                            span {
                            color: darken($white,10%);

                            }
                        
                            }
                            .gap {
                                height: size(30);
                                width:size(1);
                                background: $headerborder;
                                display: inline-block;
                            }
                           
                        
                        
                    }
                }
            }

            .employee {
                .employeelist {
                  
                    &-item {
                        background: $shade-1;
                    }
    
                    &-link {
                        padding: size(8);
                        @include breakpoint(mobile576) {
                            padding: size(16);
                        }
                        color: $headingText;
                        .left {
                            .title {
                                color: lighten($white,50%) ;
                            }
                            .total {
                                color: darke($white,10%) ;
                            }
                        }
    
                        .right {
                            $avatar-size: size(40);
                            .avatar {
                                width: $avatar-size;
                                height: $avatar-size;
                                overflow: hidden;
                                border-radius: 50%;
                                position: relative;
                                background-color: #2c303a;
                                border: size(2) solid $white;
                                
                                img {
                                  object-fit: cover;
                                 @include wh100;
                                }
                              }
                              
                              .avatar-group {
                                @include flex;
                                
                                &.rtl {
                                    direction: rtl;
                                  
                                  .avatar:hover:not(:last-of-type) {
                                    transform: translate(size(10));
                                  }
                                }
                                
                                .avatar {
                                  margin-left: size(-14);
                                  transition: transform 0.3s ease;
                                  cursor: pointer;
                                  
                                  &:hover:not(:last-of-type) {
                                     transform: translate(size(-10));
                                  }
                                }
                                
                                .hidden-avatars {
                                  width: $avatar-size;
                                  height: $avatar-size;
                                  border-radius: 50%;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                  margin-left: size(3);
                                  
                                  background-color: #2c303a;
                                  color: #fff;
                                  @include font($primaryFont,10,normal,normal,15);
    
                                }
                              }
                        }
                    }
                }
            }


        }
    }
}
