@use "../global" as *;
@use "../partials" as *;

.cart-category {
 

   .left-content {

    @include breakpoint(tab992) {
         width: calc(100% - size(266));

    }
   }
   .right-cart {
    width: size(262);
    padding: size(10);
    background-color: $cartBg;
    height: calc(100vh - size(66));
    position: fixed;
    right: 0;
    top: size(100);
    bottom: 0;
    z-index: 1;
    overflow-y: scroll;

    @include flex-column;
    

    &-header {
        @include border-single(bottom,solid,1,$gray-300);
        padding-inline: size(18);
        height: size(80);
        @include flex-between;
        align-items: center;
        color: $cartText;

        .title {
            color: $cartText;
        }
        .status {
            color: $cartText;
            @include font($primaryFont,12,normal,normal,20);
            @include breakpoint(mobile576) {
                @include font($primaryFont,14,normal,normal,20);

            }
        }
    }

    &-body {
        @include flex-center;
        height: 100%;
        
    }

    
   }
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 20px;
    // display: flex;
    
    
}