@use "../global"as *;
@use "../partials"as *;

.cart-category {
    padding: size(30) size(20);

    @include breakpoint(mobile567) {
    padding: size(30) size(38);

    }

    .left-content {

        @include breakpoint(tab992) {
            width: calc(100% - size(366));
        }

        .categories {
            @include flex-column;
            gap: size(18);
            @include breakpoint(tab992) {
                gap: size(24);
            }
            &-title {
                color: $gray-900;
                @include font($primaryFont, 18, normal, normal, 30);
                

                @include breakpoint(tab992) {
                   @include font($primaryFont, 24, normal, normal, 30);

                }

            }
        }

        .products {
            @include flex-column;
            gap: size(18);
            @include breakpoint(tab992) {
                gap: size(24);
            }
            &-title {
                color: $gray-900;
                @include font($primaryFont, 18, normal, normal, 30);

                @include breakpoint(tab992) {
                   @include font($primaryFont, 24, normal, normal, 30);

                }

            }

            .product-cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
                grid-gap: 20px;
                // display: flex;
            
            
            }
        }

    }

    .right-cart {
        width: size(362);
        padding: size(10);
        background-color: $cartBg;
        height: calc(100vh - size(66));
        position: fixed;
        right: 0;
        top: size(70);
        bottom: 0;
        z-index: 1;
       
        @include flex-column;
        gap: size(20);


        &-header {
            @include border-single(bottom, solid, 1, $gray-300);
            padding-inline: size(18);
            height: size(80);
            @include flex-between;
            align-items: center;
            color: $cartText;

            .title {
                color: $cartText;
            }

            .status {
                color: $cartText;
                @include font($primaryFont, 12, normal, normal, 20);

                @include breakpoint(mobile576) {
                    @include font($primaryFont, 14, normal, normal, 20);

                }
            }
        }

        &-body {
            @include flex-center;
            height: 100%;

        }


    }
}


.categories {
    &-header {
        @include flex-between;
        align-items: center;
    }
    .Arrows {
        @include flex;
        gap: size(10);

        span {
            @include square(24);
            @include radius(4);
            background: $white;
            @include flex-center;
            cursor: pointer;
        }
    }
}

// right carts 
.card-items {
    @include wh100;
    
    @include flex-column;
    justify-content: space-between;
 

    &-top {
  
        overflow-y: scroll;
        padding-bottom: size(70);
        

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background:$gray-400;
            
          @include radius(100);
        }
        .list-subtotal {
            @include flex-column;
            gap: size(16);
        }
        .subtotal {
            @include flex-column;
            gap: size(12);
            &-row {
                @include flex-between;
                @include font($primaryFont,14,normal,normal,20);
                color: $gray-600;
            }
        }


    }
    &-bottom {
        background-color:  #F5F3EF;
        position: sticky;
        bottom: size(0); 
        padding: size(18);
        padding-inline: size(8);

        .checkout-card {
            background-color: $white;
            @include radius(8);
            padding: size(16);
            @include flex-column;
            gap: size(10);
            .total {
                @include flex-between;
                align-items: center;
                color: $gray-900;
                @include font($primaryFont,20,normal,normal,24);
                
            }

        }
        
    }
}
 
.couponbox {
    @include flex;
    @include w100;
    background: $white;
    padding: size(6);
    @include radius(4);
    input {
        flex:1;
        padding-right: size(10);
    }
    button {
        border: none;
        padding: size(8) size(16);
        @include setBgColor($gray-700,$white);
        @include radius(4);
        @include transitionsall;
        @include hover {
            @include setBgColor(darken($gray-700,10%),$white);
        }
    }
}