@use "../global"as *;
@use "../partials"as *;

@mixin custom-scroll-bar($bg, $height) {
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: $height;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $bg;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

@mixin no-scroll-bar() {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}


.job__overview {
  padding-bottom: size(100);

  &-header {
    @include flex-between;
    flex-wrap: wrap;
    @include border-single(bottom, solid, 1, $headerborder);

    .header-left {
      @include flex-center-vert;
      flex-wrap: wrap;
      gap: size(10);
      padding: size(24) size(24);

      .jobname {
        color: $headingText;
        @include font($primaryFont, 16, medium, normal, 14);
      }

      .category {
        padding: size(3) size(8);
        @include radius(16);
        @include setBgColor($purpleLight, $purple);
        @include font($primaryFont, 12, medium, normal, 18);

      }

      .circle {
        @include square(5);
        @include circle;
        background: $textSecondary;
      }

      .info {
        @include flex-center-vert;
        gap: size(6);
      }
    }

    .header-right {
      padding: size(24) size(24);
      @include flex-center-vert;
      gap: size(10);

      .btn-share {

        @include border(solid, 1, $primary);
        @include radius(7);
        padding: size(12) size(20);
        @include font($primaryFont, 12, semibold, normal, 12);
        color: $textPrimary;
        @include transitionsall;

        @include hover {
          @include setBgColor($primary, $white);

        }
      }
    }
  }

  &-body {
    padding: size(0) size(24);

    .overview-tab {
      overflow-x: auto;
      white-space: nowrap;

      @include no-scroll-bar();

      @include breakpoint(mobile576) {
        @include custom-scroll-bar($textSecondary, size(6));
      }

      padding-bottom: size(20);

      .review__row {
        padding-top: size(24);
        @include flex;

        .review__col {
          width: size(290);
          @include flex-column;
          gap: size(14);
          @include border-single(right, solid, 1, $checkborder);
          padding: size(0) size(10);

          &-header {}

          &-body {
            @include flex-column;
            gap: size(10);

          }
        }
      }
    }
  }
}


.darkmode {
  .job__overview {
    padding-bottom: size(100);

    &-header {
      border-color: $headingText;

      .header-left {
        .jobname {
          color: $white;

        }
      }
    }

    &-body {
      padding: size(0) size(24);

      .overview-tab {
        .review__row {
          .review__col {
            border-color: $headingText;
          }
        }
      }
    }
  }
}