@use "../global" as *;
@use "../partials" as *;

.reportcontent {
  @include flex-column;
  gap: size(24);

  &-header {
    padding: size(14);
    @include border-single(bottom, solid, 1, $headerborder);

    @include breakpoint(tab992) {
      padding: size(14) size(30);
    }

    .titlebox {
      .title {
        color: $headingText;
        font-size: size(18);
        font-weight: 600;
      }
    }

    .inputdate {
      position: relative;

      .inputlabel {
        color: $headingText;
        font-size: size(13);
        font-weight: 400;
        text-align: left;
      }

      .inputfield {
        @include setBgColor(transparent, $headingText);
        @include border(solid, 1, $headerborder);
        @include radius(8);
        font-size: size(12);
        font-weight: 400;
        padding: size(4) size(8);
        height: size(38);
        @include transitionsall;
        max-width: 80%;
        position: relative;
        z-index: 100;
        cursor: pointer;
      }

      .icon {
        position: absolute;
        top: 50%;
        right: size(20);
        @include translateY(-50%);
        @include square(20);
        @include flex-center;
        overflow: hidden;
        z-index: 0;

        svg {
          @include wh100;
        }
      }

      .error {
        position: absolute;
        top: 102%;
        left: 18%;
        @include w100;
        display: none;

        &-message {
          color: $danger;
          font-size: size(11);
          font-weight: 500;
        }
      }

      &.errorfield {
        .error {
          display: block;
        }
      }
    }

    .selectinput {
      position: relative;

      .inputlabel {
        color: $headingText;
        font-size: size(13);
        font-weight: 400;
        text-align: left;
      }

      .nice-select {
        @include setBgColor(transparent, $headingText);
        @include border(solid, 1, $headerborder);
        @include radius(8);
        padding: size(4) size(8);
        height: size(38);
        @include transitionsall;

        .current {
          font-size: size(13);
          font-weight: 400;
        }

        .nice-select-dropdown {
          .list {
            .option {
              font-size: size(12);
              font-weight: 400;
            }
          }
        }

        &:focus {
          border-color: $primary;
          background: transparent;
        }

        &::after {
          top: 30%;
          transform: rotate(0) translateY(50%) !important;
        }

        &.open {
          &::after {
            transform: rotateX(180deg) !important;
          }
        }
      }

      .error {
        position: absolute;
        top: 102%;
        left: 32%;
        @include w100;
        display: none;

        &-message {
          color: $danger;
          font-size: size(11);
          font-weight: 500;
        }
      }

      &.errorfield {
        .error {
          display: block;
        }
      }
    }

    .btn-generate {
      @include setBgColor($primary, $white);
      @include radius(8);
      @include flex-center;
      font-size: size(12);
      font-weight: 600;
      padding: size(12) size(30);
      text-align: center;
      @include transitionsall;

      @include hover {
        @include setBgColor(darken($primary, 10%), $white);
      }
    }
  }

  &-body {
    padding: size(0) size(14) size(48);

    @include breakpoint(tab992) {
      padding: size(0) size(30) size(80);
    }
  }
  
  .dataTables_wrapper {
    .dataTables_info {
      background: $white;
      @include border-single(bottom, solid, 1, $headerborder);
      height: size(50);
      @include flex-center-vert;
      width: 50%;
      padding: size(12);
      color: $textPrimary;
      font-size: size(12);
    }

    .dt-buttons {
      background: $white;
      @include border-single(bottom, solid, 1, $headerborder);
      height: size(50);
      @include flex-end;
      width: 50%;
      padding: size(12);
      gap: size(10);

      .dt-button {
        color: $textPrimary;
        cursor: pointer;
        font-size: size(12);
        @include setBgColor(transparent, $textPrimary);
        @include border(solid, 1, $headerborder);
        @include radius(8);
        box-shadow: none;
        width: size(74);
        height: size(28);
        padding: 0 !important;
        margin: 0 !important;
        @include transitionsall;
  
        &:hover:not(.disabled) {
          background: $primary;
          border-color: $primary;
          color: $white;
        }

        span {
          color: inherit;
          font: inherit;
        }
      }
    }

    .table {
      thead {
        background: $white;

        tr {
          th {
            border-color: $headerborder;
            color: $headingText;
            font-size: size(12);
            font-weight: 600;
            vertical-align: middle;
            text-transform: uppercase;
          }
        }
      }
      
      tbody {
        background: $white;

        tr {
          td {
            border-color: $headerborder;
            color: $headingText;
            font-size: size(12);
            vertical-align: middle;

            .jobstatus {
              @include flex-center;
              gap: size(8);
              width: size(90);
              height: size(28);
              @include radius(100);

              .icon {
                @include translateY(-50%);
                @include square(8);
                @include circle;
                display: inline-block;
                margin-top: size(8);
              }

              .text {
                font-size: size(12);
                font-weight: 500;
              }

              &.active {
                background: $successstatusbg;

                .icon {
                  background: $success;
                }

                .text {
                  color: $success;
                }
              }

              &.holdon {
                background: $holdstatusbg;

                .icon {
                  background: $textPrimary;
                }

                .text {
                  color: $textPrimary;
                }
              }

              &.closed {
                background: $inactivestatusbg;

                .icon {
                  background: $danger;
                }

                .text {
                  color: $danger;
                }
              }
            }
          }
        }

        .emptytable {
          background: $white;
          height: size(193);
          vertical-align: middle;

          .emptydata {
            .text {
              color: $textSecondary;
              font-size: size(14);
              font-weight: 400;
            }
          }
        }
      }
    }

    .table.dataTable.no-footer {
      border-bottom: 0;
    }

    .bottom {
      margin-top: size(30);

      .dataTables_length {
        label {
          color: $headingText;
          font-size: size(12);
        }
      }
    }

    .dataTables_paginate {
      padding-top: size(30);
      @include flex-center-vert;

      span {
        @include flex-center-vert;

        .paginate_button {
          @include square(26);
          @include circle;
          font-size: size(12);
          font-weight: 600;
          @include flex-center;
          text-align: center;
          @include setBgColor(transparent, $headingText);
          border: 0;
          box-shadow: none;
  
          &.current {
            background: $primary;
            color: $white !important;
          }
  
          &:hover:not(.current ){
            background: $primary;
            color: $white !important;
          }
        }
      }

      .previous {
        font-size: size(12);
        color: $headingText;
      }

      .previous,
      .next {
        color: $headingText;
        cursor: pointer;
        font-size: size(12);
        @include setBgColor(transparent, $headingText);
        border: 0 !important;
        box-shadow: none;
        width: size(74);
        height: size(28);
  
        &:hover:not(.disabled) {
          background: $primary;
          color: $white !important;
        }
      }
    }
  }
}