@use "../global" as *;
@use "../partials" as *;

.settings {
  @include flex-column;
  gap: size(20);
  padding-bottom: size(84);

  &-header {
    @include border-single(bottom, solid, 1, $headerborder);
    padding: size(12) size(12) 0;

    @include breakpoint(tab992) {
      padding: size(12) size(30) 0;
    }

    .titlebox {
      width: size(107);
      height: size(60);
      padding: size(10);
      @include border-single(bottom, solid, 3, $primary);
      @include flex-center;

      .settings-title {
        color: $headingText;
        font-size: size(16);
        font-weight: 600;
      }
    }
  }

  &-body {
    padding: size(12);

    @include breakpoint(tab992) {
      padding: size(20) size(30);
    }

    .settings-leftcontent,
    .settings-rightcontent {
      background: $white;
      @include radius(10);
      box-shadow: $box-shadow-1;
      @include flex-column;
      gap: size(20);
      padding: size(16);
      @include h100;

      @include breakpoint(mobile768) {
        padding: size(20);
        gap: size(32);
      }

      @include breakpoint(tab992) {
        padding: size(20) size(24);
      }

      .infotitle {
        color: $headingText;
        font-size: size(16);
        font-weight: 500;
      }

      .btn-submit {
        @include setBgColor($primary, $white);
        @include radius(8);
        @include flex-center;
        font-size: size(12);
        font-weight: 600;
        padding: size(12) size(30);
        text-align: center;
        @include transitionsall;

        @include hover {
          @include setBgColor(darken($primary, 10%), $white);
        }
      }
    }

    .settings-leftcontent {
      .leftheader {
        @include border-single(bottom, solid, 1, $headerborder);
        padding-bottom: size(16);
      }

      .leftbody {
        .profileform {
          @include flex-column;
          gap: size(24);
        }
      }
    }

    .settings-rightcontent {
      .rightheader {
        @include border-single(bottom, solid, 1, $headerborder);
        padding-bottom: size(16);
      }

      .rightbody {
        @include flex-center-column;
        gap: size(24);

        .headerinfo {
          @include flex-center-column;
          gap: size(24);
          text-align: center;

          .headtitle {
            color: $headingText;
            font-size: size(16);
            font-weight: 600;
          }
        }

        .bodyinfo {
          @include flex-center-column;
          gap: size(32);
          text-align: center;

          .details {
            max-width: size(550);
            margin-inline: auto;

            .infotext {
              color: $headingText;
              font-size: size(14);
              font-weight: 400;
            }
          }
        }
      }
    }

    .imagebox {
      @include flex-column;
      gap: size(20);

      .imagelabel {
        @include flex-center-vert;
        gap: size(5);

        .labeltext {
          color: $headingText;
          font-size: size(14);
          font-weight: 600;
        }

        .labelicon {
          @include square(13);
          @include flex-center;
          overflow: hidden;

          svg {
            @include wh100;
          }
        }
      }

      .uploadbox {
        @include border-single(bottom, solid, 1, $headerborder);
        padding-bottom: size(16);

        .uploadlabel {
          @include flex-center-vert;
          gap: size(8);
          cursor: pointer;

          .addicon {
            @include square(22);
            @include flex-center;
            overflow: hidden;

            svg {
              @include wh100;
            }
          }

          .addtext {
            color: $textSecondary;
            font-size: size(14);
            font-weight: 400;
          }
        }
      }
    }

    .uploaderbox {
      @include flex-center-column;
      gap: size(10);

      @include breakpoint(mobile576) {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between
      }

      .avatar {
        @include square(100);
        @include radius(10);
        @include flex-center;
        overflow: hidden;
    
        img {
          @include wh100;
          object-fit: cover;
        }
      }
    
      .uploadinfo {
        @include flex-center-column;
        gap: size(10);

        @include breakpoint(mobile576) {
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-end;
        }

        .remove-button {
          @include setBgColor($white, $textPrimary);
          @include border(solid, 1, $headerborder);
          @include radius(8);
          @include flex-center;
          font-size: size(12);
          font-weight: 600;
          padding: size(8.61) size(16);
          text-align: center;
          @include transitionsall;

          @include hover {
            @include setBgColor($textPrimary, $white);
            border-color: $textPrimary;
          }
        }

        .upload-detail {
          .uploadlabel {
            @include setBgColor($primary, $white);
            @include border(solid, 1, $primary);
            @include radius(8);
            cursor: pointer;
            @include flex-center;
            font-size: size(12);
            font-weight: 600;
            padding: size(8.61) size(16);
            text-align: center;
            @include transitionsall;

            @include hover {
              @include setBgColor(darken($primary, 5%), $white);
              border-color: darken($primary, 5%);
            }
          }
        }
      }
    }

    .inputlabel {
      color: $headingText;
      font-size: size(14);
      font-weight: 600;
      text-align: left;
    }

    .otpcode {
      @include flex-column;
      gap: size(12);

      &-header {
        @include flex-center-between;

        .btn-resend {
          color: $textPrimary;
          font-weight: 500;
          font-size: size(13);
          line-height: 1.0625;
          @include transitionsall;

          @include hover {
            color: $darkText;
          }
        }
      }
    }
    
    .inputbox {
      @include flex-column;
      gap: size(12);

      .inputfield {
        @include setBgColor($bodybg, $headingText);
        @include border(solid, 1, $headerborder);
        @include radius(8);
        font-size: size(14);
        font-weight: 400;
        padding: size(12.5) size(16);
        @include transitionsall;

        &:focus {
          border-color: $primary;
          background: transparent;
        }
      }
    }

    .submitbox {
      @include border-single(top, solid, 1, $headerborder);
      margin: size(24) 0 0;
      padding: size(24) 0 0;
      @include flex-end;
    }
  }

  .settingstab {
    padding-top: size(12);
    @include flex-column;
    gap: size(20);

    .nav-tabs {
      border-color: $headerborder;
      gap: size(2);
      padding: size(0) size(12);
  
      @include breakpoint(tab992) {
        padding: size(0) size(30);
      }

      .nav-link {
        border: 0;
        @include radius(0);
        @include border-single(bottom, solid, 3, transparent);
        padding: size(20) size(15);
        @include setBgColor(transparent, $textSecondary);
        font-size: size(14);
        font-weight: 500;

        @include breakpoint(mobile768) {
          font-size: size(16);
        }

        &:hover:not(.active) {
          border-color: $primary;
          color: $headingText;
        }

        &.active {
          border-color: $primary;
          color: $headingText;
        }
      }
    }

    .tab-content {
      padding: size(0) size(12);
  
      @include breakpoint(tab992) {
        padding: size(0) size(30);
      }
    }

    .integragiondetails {
      .integrationleft,
      .integrationright {
        background: $white;
        @include radius(10);
        box-shadow: $box-shadow-1;
        @include flex-column;
        gap: size(20);
        padding: size(16);
        @include h100;
  
        @include breakpoint(mobile768) {
          padding: size(20);
          gap: size(32);
        }
  
        @include breakpoint(tab992) {
          padding: size(20) size(24);
        }
  
        .title {
          color: $headingText;
          font-size: size(16);
          font-weight: 500;
        }
      }

      .integrationleft {
        &-header {
          @include border-single(bottom, solid, 1, $headerborder);
          padding-bottom: size(16);
        }
      }

      .integrationright {
        &-header {
          @include border-single(bottom, solid, 1, $headerborder);
          padding-bottom: size(16);
        }
      }
    }

    .integrationtabinfo {
      background: $white;
      box-shadow: $box-shadow-1;
      padding: size(12);
      @include radius(10);
      @include flex-column;
      gap: size(20);
  
      @include breakpoint(tab992) {
        padding: size(20) size(30);
      }

      .integrationheader {
        @include border-single(bottom, solid, 1, $headerborder);
        padding-bottom: size(16);

        .btn-back {
          @include flex-center-vert;

          .icon {
            svg {
              @include wh100;
            }
          }

          .text {
            color: $headingText;
            font-size: size(16);
            font-weight: 500;
            display: inline-block;
            margin-top: size(1);
          }

          @include hover {
            .icon {
              svg {
                path {
                  stroke: $primary;
                }
              }
            }

            .text {
              color: $primary;
            }
          }
        }
      }

      .integrationbody {
        .integrations {
          background: $white;
          @include border(solid, 1, $headerborder);
          box-shadow: $box-shadow-1;
          @include flex-column;
          gap: size(20);
          padding: size(12);
  
          @include breakpoint(tab992) {
            gap: size(40);
            padding: size(30);
          }

          &-header {
            @include flex-column;
            gap: size(20);

            .companylogo {
              max-width: size(160);
              @include flex-center;
              overflow: hidden;

              img {
                @include wh100;
                object-fit: contain;
              }
            }

            .info {
              &-text {
                color: $textPrimary;
                font-size: size(14);
                font-weight: 400;
              }
            }
          }
          
          &-body {
            .inputbox {
              @include flex-column;
              gap: size(12);
        
              .inputfield {
                @include setBgColor($bodybg, $headingText);
                @include border(solid, 1, $headerborder);
                @include radius(8);
                font-size: size(14);
                font-weight: 400;
                padding: size(12.5) size(16);
                @include transitionsall;
        
                &:focus {
                  border-color: $primary;
                  background: transparent;
                }
              }
            }
        
            .submitbox {
              @include border-single(top, solid, 1, $headerborder);
              margin: size(24) 0 0;
              padding: size(24) 0 0;
              @include flex-end;
        
              .btn-submit {
                @include setBgColor($primary, $white);
                @include radius(8);
                @include flex-center;
                font-size: size(12);
                font-weight: 600;
                padding: size(12) size(30);
                text-align: center;
                @include transitionsall;
        
                @include hover {
                  @include setBgColor(darken($primary, 10%), $white);
                }
              }
            }
          }
        }
      }
    }

    .jobinfo {
      background: $white;
      box-shadow: $box-shadow-1;
      @include radius(10);
      @include flex-column;
      gap: size(20);
      padding: size(16);
      @include h100;

      @include breakpoint(mobile768) {
        padding: size(20);
        gap: size(32);
      }

      &-header {
        @include border-single(bottom, solid, 1, $headerborder);
        padding-bottom: size(16);
        min-height: size(54);
      
        .jobinfo-title {
          color: $headingText;
          font-size: size(16);
          font-weight: 600;
        }

        .btn-text {
          color: $primary;
          font-size: size(12);
          font-weight: 500;
          @include transitionsall;
  
          @include hover {
            color: darken($primary, 5%);
          }
        }
    
        .titleinfo {
          @include flex-center-vert;
          gap: size(8);
    
          .icon {
            cursor: pointer;
            @include flex-center;
            @include square(13);
      
            svg {
              @include wh100;
              margin-top: size(2);
            }
          }
        }
        
        .selectbox {
          @include flex-column;
          gap: size(12);
          min-width: size(120);

          .selectlabel {
            color: $headingText;
            font-size: size(14);
            font-weight: 600;
            text-align: left;
          }

          .nice-select {
            @include setBgColor($bodybg, $headingText);
            @include border(solid, 1, $headerborder);
            @include radius(8);
            padding: size(5) size(14);
            height: size(36);
            @include transitionsall;

            .current {
              font-size: size(14);
              font-weight: 400;
            }

            .nice-select-dropdown {
              .list {
                .option {
                  font-size: size(12);
                  font-weight: 400;
                }
              }
            }

            &:focus {
              border-color: $primary;
              background: transparent;
            }

            &::after {
              top: 30%;
              transform: rotate(0) translateY(40%) !important;
            }

            &.open {
              &::after {
                transform: rotateX(180deg) !important;
              }
            }
          }
        }
      }
    
      @include breakpoint(mobile768) {
        padding: size(20);
        gap: size(32);
      }
    
      &-body {
        @include flex-column;
        gap: size(10);

        .department-list,
        .stage-list {
          @include list-vertical;
          gap: size(10);

          &-item {
            @include flex-center-between;
            cursor: pointer;
            padding: size(11) size(15);
            @include border(solid, 1, $headerborder);
            @include radius(8);

            .titlebox {
              @include flex-center-vert;
              gap: size(4);

              .icon {
                @include square(16);
                @include flex-center;
                overflow: hidden;

                svg {
                  @include wh100;
                }
              }

              .title {
                color: $textPrimary;
                font-size: size(14);
              }
            }
          }
        }

        .email-list {
          @include list-vertical;
          gap: size(10);

          &-item {
            @include flex-center-between;
            cursor: pointer;
            padding: size(11) size(15);
            @include border(solid, 1, $headerborder);
            @include radius(8);

            .titlebox {
              @include flex-center-vert;
              gap: size(4);
              min-width: size(144);

              .icon {
                @include square(16);
                @include flex-center;
                overflow: hidden;

                svg {
                  @include wh100;
                }
              }

              .title {
                color: $textPrimary;
                font-size: size(14);
              }
            }

            .datebox {
              .maildate {
                color: $textSecondary;
                font-size: size(12);
              }
            }
          }
        }

        .btn-add {
          color: $blue;
          font-size: size(14);
          @include flex-center-between;
          cursor: pointer;
          padding: size(11) size(15);
          @include border(solid, 1, $headerborder);
          @include radius(8);
        }
      }
    }
  }
}