@use "../global" as *;
@use "../partials" as *;

.customcheck{
    &-box{
      &:checked ~ .customcheck-label{
        &::before{
          background: $lightred;
          border: 3px solid $lightred;
          
  
        }
        &::after{
          opacity: 1;
          visibility: visible;
        }    
      }
    }
    &-label{
      position: relative;
      color: #4E5D78;
      padding-left: size(30);
      cursor: pointer;
      @include font($secondaryFont,14,medium,normal,20);
      &::before,
      &::after{
        content: '';
        @include absolute(top 50% left 0);
      }
      &::before{
        @include square(20);
        @include radius(3);
        @include border(solid, 2, #BCB3E2);
        @include translateY(-50%);
        @include transitionsall;
  
  
      }
      &::after{
        width: size(6);
        height: size(12);
        @include border(solid ,2,$white);
        border-top: 0;
        border-left: 0;
        left: size(7);
        @include transform(translateY(-70%) rotate(45deg));
        opacity: 0;
        visibility: hidden;
        @include transitionsall;
  
      }
      &::selection{
        @include setBgColor(transparent,$black)
      }
    }
  }