@use "../global" as *;
@use "../partials" as *;


.customcheck {
  @include flex-center;

  &-box {
    &:checked~.customcheck-label {
      &::before {
        background: $primary;
        border-color: $primary;
      }

      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-label {
    position: relative;
    color: $primary;
    font: inherit;
    padding-left: size(16);
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      @include absolute(top 50% left 0);
    }

    &::before {
      @include square(16);
      @include radius(3);
      @include border(solid, 1, $checkborder);
      @include translateY(-50%);
      @include transitionsall;
    }

    &::after {
      width: size(5);
      height: size(9);
      @include border(solid, 2, $white);
      border-top: 0;
      border-left: 0;
      left: size(6);
      @include transform(translateY(-60%) rotate(45deg));
      opacity: 0;
      visibility: hidden;
      @include transitionsall;
    }

    &::selection {
      @include setBgColor(transparent, tan);
    }
  }
}

.darkmode {



.customcheck {

&-box {
  &:checked ~ .customcheck-label {
    &::before {
      background: $primary;
      border-color: $primary;
    }

    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

&-label {
  position: relative;
  color: $primary;
 

  &::before,
  &::after {
  
  }

  &::before {
    @include square(16);
    @include radius(3);
    border-color: $headingText;
    @include translateY(-50%);
    @include transitionsall;
  }

  &::after {
    width: size(5);
    height: size(9);
    @include border(solid, 2, $white);
    border-top: 0;
    border-left: 0;
    left: size(6);
    @include transform(translateY(-60%) rotate(45deg));
    opacity: 0;
    visibility: hidden;
    @include transitionsall;
  }

  &::selection {
    @include setBgColor(transparent, tan);
  }
}
}


}


