@use "../global" as *;
@use "../partials" as *;

.singleradio {
  .radiolabel {
    position: relative;
    padding-left: size(30);
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      @include translateY(-50%);
      left: 0;
    }

    &::before {
      @include square(20);
      @include border(solid, 1, $primary);
      @include circle;
      background: $white;
      @include transitionsall;
    }

    &::after {
      @include square(10);
      background: $primary;
      @include circle;
      left: size(5);
      opacity: 0;
      visibility: hidden;
      @include transitionsall;
    }
  }

  .radiofield {
    &:checked ~ .radiolabel {
      &::before {
        border-color: $primary;
      }

      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
