@use "../global" as *;
@use "../partials" as *;

.nice-select {
  @include flex-center-vert;
  // border-color: $signinborder !important;
  @include w100;
  height: size(48);
  line-height: size(48);
  &::after {
    border: none;
    content: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M1 1L8.5 8L16 1' stroke='%234B4B4B' stroke-width='1.58' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    width: size(17);
    height: size(10);
    margin-top: size(0);
    @include rotate(0);
    transform-origin: 0%;
    top: 35%;
    right: size(16);
    @include translateY(40%);
    @include flex-center;
    @include transitiontransform;
  }

  .current {
    // color: $primaryText;
  }

  .list {
    background: $white;
    @include font($primaryFont,14,normal,normal,12);

  }

  &-dropdown {
    @include w100;
    // border-color: $linkborder;
    box-shadow: none !important;
  }

  &.open {
    // border-color: $primary !important;

    &::after {
      transform: rotateX(180deg) !important;
      top: auto;
      // transform-origin: 0%;
    }

    .current {
      // color: rgba($primaryText, 0.3);
    }
  }
}



.chosen-container {
 width: 100% !important;
  .chosen-choices {
    border-color: $headerborder !important;
    background-image: none !important;
    @include radius(8);
    background: $bodybg  !important;
    padding: size(5) size(10) !important ;
    .search-choice {
      background: $headingText !important;
      color: $white !important;
      border: none !important;
      span {
        font-size: size(12) !important;
        font-weight: 600 !important;
      }
      a {
        
      }

    }
    .search-field {

    }
  }

  .chosen-drop {
    border-color: $headerborder !important;
    .chosen-results {
      li {
        padding: size(8) size(10) !important;
      }
      .active-result {
        .highlighted {
          background: $primary;
        }
      }
      .result-selected {

      }
    }
  }

  &-active {
    .chosen-choices {
      box-shadow: none !important;
    }
  }
}


.job__overview {
  .nice-select {
    background: $primary;
    color: $white;
    width: size(116);
    &-dropdown {
      box-shadow: $box-shadow-1;
    }
    .option {
      color: $textPrimary;
    }
  }
}


.darkmode {
 
  .nice-select { 
    background: #292c2e;
    border-color: $headingText !important; 
    &.open {
      border-color:$textPrimary;
    } 
    @include hover {
      border-color: $textPrimary;
    }
    .nice-select-dropdown {
      border-color:$headingText;
    }

    .list {
      background: $lightDark;
    }
    .option {
      color:darken( $white,20%);
      @include font($primaryFont,12,normal,normal,50);

			&:hover {
				background-color: $shade-1;
			}
		}
		.option.focus {
			background-color: $shade-1;
		} 
 
		.option.selected.focus {
			background-color: $shade-1;
		}
  }

  .chosen-container {
 
    .chosen-choices {
      border-color: $textPrimary !important;
      @include radius(8);
      background: #292c2e  !important;
      padding: size(5) size(10) !important ;
      .search-choice {
        background: $headingText !important;
        color: $white !important;
        border: none !important;
        span {
          font-size: size(12) !important;
          font-weight: 600 !important;
        }
        a {
          
        }
  
      }
      .search-field {
  
      }
    }
  
    .chosen-drop {
      border: none !important;
      .chosen-results {
        background: $lightDark !important;
        li {
          padding: size(8) size(10) !important;
        }
        .active-result { 
          color: $white !important;
          .highlighted {
            background: $primary;
          }
        }
        .result-selected {
  
        }
      }
    }
  
    &-active {
      .chosen-choices {
        box-shadow: none !important;
      }
    }
  }
}



