@use "../../global"as *;
@use "../../partials"as *;



.offcanvas {
  height: 100vh;

  @include breakpoint(mobile576) {
    width: size(280);
  }

  @include breakpoint(mobile768) {
    width: size(320);
  }

  &.offcanvas-top {
    border-bottom: 0;
  }

  &.offcanvas-bottom {
    border-top: 0;
  }

  &.offcanvas-start {
    border-right: 0;
  }

  &.offcanvas-end {
    border-left: 0;
  }

  &.offcanvas-start {
    border-right: 0;
  }

  &-header {
    // background-color: $offcanvasbg;

    .offcanvas-title {
      @include font($primaryFont, 18, medium, normal, 26);

    }

    .btn-close {
      @include setBgColor($white, $textPrimary);
      @include flex;
      gap: size(10);
      min-width: size(130);
      // @include border(solid, 1, $headerborder);
      align-items: center;
      @include font($primaryFont, 12, medium, normal, 12);
      // @include radius(0);
      // @include transitionsall;
      // padding: 0;
      // margin: 0;
      // @include square(16);
      // @include flex-center;
      // overflow: hidden;

      svg {
        // @include wh100;
      }

      @include hover {
        // opacity: 1;
        // @include rotate(180);

        // svg {
        //   path {
        //     stroke: $danger;
        //   }
        // }
      }
    }
  }

  &-body {
    margin: size(20);
    // @include border(solid, 1, $headerborder);
    @include radius(10);

    &::-webkit-scrollbar {
      background: transparent;
      width: size(8);
    }

    &::-webkit-scrollbar-thumb {
      // background: darken($primary, 25%);
      @include radius(8);
    }
  }
}