@use "../../global" as *;
@use "../../partials" as *;





.pointer {
  cursor: pointer;
}

.logo {
    width: size(75);
    height: size(37);
    @include flex-center;
    overflow: hidden;
    @include breakpoint(mobile576) {
      width: size(100);
      height: size(50);
    }
    img {
      @include wh100;
      object-fit: cover;
    }
  }

  .square-icon-wrapper {
    @include square(40);
    @include radius(8);
    background: $iconBg;
    @include flex-center; 
    
    i.fa-regular{
      color: $lightred !important;
    }
    svg {
      path {
        fill:$lightred ;
      }
    }

  }