@use "../../global" as *;
@use "../../partials" as *;



.logo {
    width: size(100);
    height: size(50);
    @include flex-center;
    overflow: hidden;
  
    img {
      @include wh100;
      object-fit: cover;
    }
  }

  .square-icon-wrapper {
    @include square(40);
    background: $iconBg;

  }