@use "../../global" as *;
@use "../../partials" as *;

header {
  .icon-wrapper {
    background: $bodybg;
    @include square(34);
    @include flex-center;
    @include circle;
    @include breakpoint(tab992) {
    @include square(40);

    }

    i.fa-regular {
      font-size: size(30) !important;
    }

  }

  .dropdown-wrapper {
    cursor: pointer;
    position: relative;
   

    @include hover {
      .dropdown-content {
        display: block;
      }
    }

    .dropdown-content {

      position: absolute;
      @include w100;
      min-width: size(200);
      top: 100%;
      right: 0;
      display:none;
      @extend  %animation; 
      @extend %slideUpIn;
      @include transitionsall;
      background: $white;
      @include border(solid,1,$gray-100);
      box-shadow: $box-shadow-1;
      @include radius(10);
      

    }

    .dropdown-menulist {
      border: none; 
      li {
        border: none;
        padding: size(10) size(8);
        @include transitionsall;
        @include hover {
          background: $gray-50;
        }
        &.active {
          background: $gray-50;

        }
      }
      a {
        svg {
          @include square(16);
          path {
            fill: $lightred;
          }
        }
        .text {
          color:$gray-700;
        }
      }
    }
  }
}

.check {
  position: absolute;
  top: 10;
  left: 10;
  height: 3rem;
  width: 1rem;
  opacity: 0;
  z-index: 3;
}

.menuitems {
  text-align: center;
  position: absolute;
  padding: 1rem;
  margin-top: -6rem;
  margin-left: -1rem;
  top: 10rem;
  left: 0;
  list-style: none;
  opacity: 0;
  height: 100vh;
  background-color: black;
  border-radius: 0.25em;
  transform: translateX(-10%);
  transition: transform 100ms ease-in-out, opacity 200ms;
  right: 0;
  background: #F5F3EF;
  visibility: hidden;
  @include flex-column;
  gap: size(7);
  


  li {
    @include transitionsall;
    &.active {
      a {
        background: $gray-50;
      }
    }

    @include hover {
      a {
        background: $bodybg;

      }
    }

    a {
      background: $white;
      margin-inline: size(10);
      padding: size(16);
      text-align: left;
      display: flex;
      align-items: center;
      gap: size(8);
      @include radius(8);
      .text {
        color: $gray-700;
      }
      @include transitionsall;

    }

    .icon-wrapper {
      
    }
  }

  
  
}
.cross-icon ,
.bar-icon {
 display: inline-block;
 padding-top: size(2);
  svg {
    @include square(20);
  }
}
.check:checked~.menuitems {
  display: flex;
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
} 
.check:checked ~ lable .bar-icon {
  display: none;
}
.check:checked ~ lable .cross-icon {
  display: block !important;
}


 .notify {
  width: size(240);

  @include breakpoint(mobile768) {
    width: size(300);
  }

  .notification {
    @include flex-column;
    background: $white;

    &-header {
      @include border-single(bottom, solid, 1, $gray-100);
      @include flex-center-between;
      padding: size(12) size(16);
      border-right: 8px solid transparent;

      .title {
        color: $gray-900;
        @include font($primaryFont, 11, medium, normal, 15.4);
        text-transform: uppercase;
        letter-spacing: size(1);
      }

      .btn-clear {
        color: $textPrimary;
        display: inline-block;
        @include font($primaryFont, 11, normal, normal, 15.4);
        @include transitionscolor;
        background: transparent;
        @include hover {
          color: $lightred;
        }
      }
    }

    &-body {
      .emptynotification {
        @include w100;
        height: size(200);
        @include flex-center;
        text-align: center;

        &-title {
          color: $gray-700;
          @include font($primaryFont, 14, normal, normal, 18.2);
        }
      }

      .notificationlist {
        max-height: size(300);
        overflow-x: hidden;
        overflow-y: scroll;
        @include list-vertical;

        &-link {

          @include flex;
          gap: size(10);
          padding: size(8) size(16);
          background: $white;
          @include border-single(bottom, solid, 1, $shade-1);

          .usericon {
            @include square(40);
            @include circle;
            @include flex-center;
            overflow: hidden;

            img {
              @include wh100;
              object-fit: cover;
            }
          }

          .details {
            width: calc(100% - size(48));
            @include flex-column;
            gap: size(4);

            .info {
              .name {
                color: $black;
                @include font($primaryFont, 13, semibold, normal, 18.2);
              }

              .text {
                color: $textPrimary;
                @include font($primaryFont, 12, normal, normal, 16.8);
              }
            }

            .time {
              color: $textPlaceholder;
              @include font($primaryFont, 12, normal, normal, 16.8);
            }
          }

          @include hover {
            background: $gray-50;
          }
        }

        &-item {
          &:last-of-type {
            .notificationlist-link {
              border-bottom: 0;
            }
          }
        }

        &::-webkit-scrollbar {
          background: transparent;
          width: size(8);
        }

        &::-webkit-scrollbar-thumb {
          background: $gray-600;
          @include radius(8);
        }
      }
    }

    &-footer {
      background: $white;
      @include border-single(top, solid, 1, $gray-50);
      height: size(40);
      @include flex-center;

      .link {
        color: $textPrimary;
        @include font($primaryFont, 12, medium, normal, 16.8);
        @include transitionscolor;

        @include hover {
          color: $black;
        }
      }
    }
  }
}
