@use "../../global" as *;
@use "../../partials" as *;

header {
  .icon-wrapper {
    background: $bodybg;
    @include square(34);
    @include flex-center;
    @include circle;
    @include breakpoint(tab992) {
    @include square(40);

    }

    i.fa-regular {
      font-size: size(30) !important;
    }

  }

  .dropdown-wrapper {
    cursor: pointer;
    position: relative;
   

    @include hover {
      .dropdown-content {
        display: block
      }
    }
    .dropdown-content {
      position: absolute;
      @include w100;
      min-width: size(200);
      top: 100%;
      right: 0;
      display: none;
      @extend  %animation; 
      @extend %slideUpIn;
      @include transitionsall;
      background: $white;
      

    }
  }
}

.check {
  position: absolute;
  top: 10;
  left: 10;
  height: 3rem;
  width: 1rem;
  opacity: 0;
  z-index: 3;
}

.menuitems {
  text-align: center;
  position: absolute;
  padding: 1rem;
  margin-top: -6rem;
  margin-left: -1rem;
  top: 10rem;
  left: 0;
  list-style: none;
  opacity: 0;
  height: 100vh;
  background-color: black;
  border-radius: 0.25em;
  transform: translateX(-10%);
  transition: transform 100ms ease-in-out, opacity 200ms;
  right: 0;
  background: #F5F3EF;
  visibility: hidden;
  @include flex-column;
  gap: size(7);
  


  li {
    @include transitionsall;
    &.active {
      a {
        background: $bodybg;
      }
    }

    @include hover {
      a {
        background: $bodybg;

      }
    }

    a {
      background: $white;
      margin-inline: size(10);
      padding: size(16);
      text-align: left;
      display: flex;
      align-items: center;
      gap: size(8);
      @include radius(8);
      .text {
        color: $gray-700;
      }
      @include transitionsall;

    }

    .icon-wrapper {
      
    }
  }

  
  
}

.check:checked~.menuitems {
  display: flex;
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}
